@charset "UTF-8";

/* CSS - Troco Simples | Codificado por: Ueek Agência Digital | Ano: 2019 */

/******************* Atribuições Gerais *********************/
* {
	box-sizing: border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased !important;
	-moz-font-smooth:antialiased !important;
	-o-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	font-smoothing:antialiased;
	margin: 0;
	outline: 0;
	padding: 0;
}

*::selection,
*::-moz-selection,
*::-webkit-selection {
	background:#c0d445;
	color:#fff;
}

a {
	cursor:pointer;
	text-decoration:none;
}

br { clear:both; }
img { border:0; }

input,
textarea,
select { outline: none; }

html, body{
    width: 100%;
    height: 100%;
}

body {
	color: #505050;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.conteudo {
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
	width: 1170px;
}

.soft-hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
	filter: alpha(opacity = 50);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

strong, b { font-weight: 700; }
/******************* Atribuições Gerais *********************/


/******************* Atribuições Topo *********************/
header#topo {
	background: #ff7200;
	text-align: center;
	padding: 40px 0;
}
/******************* Atribuições Topo *********************/

/******************* Atribuições Conteúdo *********************/
#intro {
	text-align: center;
	padding: 50px 0;
}

#intro strong { font-size: 25px; }
#intro p { padding-top: 20px; }

#container { background: #f3f3f3; }

#container #varejo {
	background: #fff;
	float: left;
	padding: 40px 60px 70px;
}

#container #bala { 
	float: right;
	padding: 40px 60px 70px; 
}

#container .box { width: 50%; }

#container .box h2 {
	color: #ff7200;
	font-size: 30px;
}

#container .box p {
	font-size: 20px;
	padding: 22px 0 65px; 
}

#container .box button {
	background: #ff7200;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin-top: 40px;
	height: 45px;
	width: 185px;
}

#container .box button:hover { background: #505050; }
/******************* Atribuições Conteúdo *********************/

/******************* Atribuições Rodapé *********************/
footer#rodape {
	background: #ff7200;
	color: #fff;
	text-align: center;
	padding: 60px 0 70px;
}

footer#rodape img#marca { margin-bottom: 20px; }

footer#rodape ul {
	margin: 0 auto;
	margin-top: 15px;
	width: 326px;
}

footer#rodape ul li {
	font-size: 15px;
	list-style: none;
	margin: 0 20px;
	float: left;
}

footer#rodape ul li a { color: #fff; }
footer#rodape ul li a:hover { color: #505050; }

footer#rodape ul li span,
footer#rodape ul li img.rede {
	display: block;
	float: left;
	height: 20px; 
}

footer#rodape ul li span { 
	line-height: 20px;
	margin-left: 10px;
}
/******************* Atribuições Rodapé *********************/