@charset "UTF-8";

/* CSS - Troco Simples | Codificado por: Ueek Agência Digital | Ano: 2019 | Mqueries */

/*Tablets*/
@media only screen and (max-width:1024px), only screen and (min-device-width:768px) 
				   and (max-device-width:1024px) and (orientation : landscape) {

	/* ------ Estrutura Geral e Home ------ */
	body { min-width: 660px; }
	.conteudo {width: 640px !important;}

	/******************* Atribuições Conteúdo *********************/
	#container .box h2 { font-size: 25px; }
	#container .box h2 br, #container .box p br { display: none; }
	#container #bala p { padding-bottom: 127px; }
	/******************* Atribuições Conteúdo *********************/

	
}

/*Celulares*/
@media only screen and (max-width: 680px) {

	/* ------ Estrutura Geral e Home ------ */
	body { min-width: 300px; }
	.conteudo {
		padding: 0 10px;
		width: 300px !important;
	}

	/******************* Atribuições Conteúdo *********************/
	#intro { padding: 40px 0; }
	#intro strong br, #intro p br, #container .box span br { display: none; }

	#container { background: #f3f3f3; }

	#container #varejo, #container #bala { 
		float: none; 
		padding: 50px 30px 70px;
	}

	#container .box { width: 100%; }
	#container #bala p { padding-bottom: 65px; }
	/******************* Atribuições Conteúdo *********************/
	footer#rodape { font-size: 14px; }

}


/** iPhone 6/7/8 Plus **/
@media only screen and (max-width: 414px) {
}

/** iPhone 6/7/8 **/
@media only screen and (max-width: 375px) {
}

/** Galaxy S5 **/
@media only screen and (max-width: 360px) {
}

/** iPhone 5 e SE **/
@media only screen and (max-width: 320px) {
}

/*Monitores maiores*/
@media only screen and (min-width: 1300px) {
}