@charset "UTF-8";

/* CSS - Spiller | Codificado por: Ueek Agência Digital | Ano: 2018 */

/******************* Atribuições Gerais *********************/
* {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased !important;
	-moz-font-smooth:antialiased !important;
	-o-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	font-smoothing:antialiased;
	margin:0;
	padding:0;
}

*::selection,
*::-moz-selection,
*::-webkit-selection {
	background:#c0d445;
	color:#fff;
}

h1,h2,h3,h4,h5 { font-weight: normal; }

a {
	cursor:pointer;
	text-decoration:none;
}

br { clear:both; }

img { border:0; }

input,
textarea,
select { outline: none; }

body {
	background: #fff;
	background-position: 0 400px;
	color: #3f3e40;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;

	overflow-x: hidden;
}

.conteudo {
  margin: 0 auto;
  /*width: 1095px;*/
  width: 995px;
  position: relative;
  /*width: 1100px;*/
  
  /*border: 1px solid red;*/
}

.soft-hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
  filter: alpha(opacity = 50);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

strong, b { font-weight: 700; }
/******************* Atribuições Gerais *********************/


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Felixti';
*/



/******************** Atribuições Topo HOME **********************/
header.header-fixo{
	display: none;
	position: fixed;
}

header.topo{
	background: url(../img/header.png) #fff;
	background-position: center;
	background-repeat: no-repeat;

	height: 115px;
	width: 100%;
	z-index: 9999;
}

header.topo .logo-header{
	float: left;
	margin-top: 29px;
}


#redes-topo{
	margin-top: 15px;
	float: right;
	display: block;
}

#redes-topo a{
	display: block;
	float: left;
}

.rede-topo{
	border: 1px solid #FF7200;
	border-radius: 30px;
	float: left;
	color: #FF7200;
	font-size: 16px;
	line-height: 31px;
	margin-right: 5px;
	text-align: center;
	height: 30px;
	width: 30px;
}

.rede-topo:hover{
	background: #FF7200;
	border: 1px solid #fff;
	color: #fff;
}


header.topo nav.menu{
	float: right;
	margin-top: 20px;
	position: relative;
    z-index: 999999;
}

header.topo nav.menu ul li{
	color: #535353;

	float: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;

	list-style: none;

	margin-left: 19px;
}

header.topo nav.menu ul li a{
	color: #535353;
}

header.topo nav.menu ul li.li-principal a:hover{
	color: #FF7200;
	text-shadow: 1px 0 0 currentColor;
}



/******************** Dropdown **********************/
header.topo nav.menu ul li.drop-menu{
	cursor: pointer;
	height: 53px;
	position: relative;
}

header.topo nav.menu ul li a.item-menu:hover{
	color: #FF7200;
}

header.topo nav.menu ul li.drop-menu a:hover{
	text-shadow: 1px 0 0 currentColor;
}

header.topo nav.menu ul li.drop-menu .dropdown{
	background: #FF7200;
	display: none;

	margin-top: 30px;
	text-align: center;
	width: 155px;

    position: absolute;
    left: -44px;
}

header.topo nav.menu ul li.drop-menu .dropdown .item-drop{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 35px;
}


header.topo nav.menu ul li.drop-menu:hover .dropdown{
	display: block;
}
/******************** Dropdown **********************/



/******************** Atribuições Topo HOME **********************/


/******************** Atribuições Rodape **********************/
#rodape{
	background: #FF7200;
	padding: 39px 0 50px 0;
}

#rodape #left-rdp{
	display: table;
	float: left;
}

#rodape #right-rdp{
	display: table;
	float: right;
}

#rodape #left-rdp img{
	float: left;
}


#rodape #left-rdp h1{
	color: #FFFFFF;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 17px;

	margin-top: 30px;
	margin-bottom: 10px;
}

#rodape #left-rdp ul{

}

#rodape #left-rdp ul li{
	box-sizing: border-box;
	color: #FFFFFF;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 5px;
}


#redes-rdp{
	margin-top: 30px;
}

.rede-rdp{
	border: 1px solid #fff;
	border-radius: 30px;
	float: left;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 31px;
	margin-right: 5px;
	text-align: center;
	height: 30px;
	width: 30px;
}

.rede-rdp:hover{
	background: #fff;
	border: 1px solid #FF7200;
	color: #FF7200;
}


#rodape #left-rdp span{
	color: #FFFFFF;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 35px;


	margin: 30px 0 20px 0;
}

#rodape #left-rdp .lojas-rdp{
	margin-right: 36px;
}


#rodape #right-rdp #menu-rdp{

}

#rodape #right-rdp #menu-rdp h1{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 35px;
	text-decoration-line: underline;
	margin-bottom: 20px;
}

#rodape #right-rdp #menu-rdp ul{	
	float: left;
	width: 120px;
}

#rodape #right-rdp #menu-rdp ul#col-1{
	margin-right: 140px;
}

#rodape #right-rdp #menu-rdp ul li{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 7px;
	text-decoration-line: underline;
}

#rodape #right-rdp #menu-rdp ul li:hover{
	font-weight: 900;
}

#rodape #right-rdp #menu-rdp ul li.subitem-rdp{
	color: #974300;

	margin-left: 10px;
}


#direitos{
	background: #E46600;
	height: 50px;
}

#direitos span{
	display: block;
	float: left;

	color: #FFAB65;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;

	line-height: 50px;
}

#direitos img{
	float: right;
	margin-top: 20px;
}
/******************** Atribuições Rodape **********************/