/* QUERIES FOR IPAD/TABLETPC */
@media only screen and (max-width: 1024px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	/* ------ Estrutura Geral e Home ------ */
	body { background: none; min-width: 660px; }
	.conteudo { width: 640px !important; }


	/******************** Atribuições Topo HOME **********************/
	header.header-fixo{
		display: none !important;
		position: fixed;
	}

	header.topo{
		height: auto;
	}

	header.topo .logo-header{
		margin-top: 25px;
	}


	#redes-topo{
		margin-top: 25px;
	}


	header.topo nav.menu{
		float: right;
		margin-top: 30px;
	}

	header.topo nav.menu ul li{
		font-size: 13px;
		margin-left: 9.2px;
	}


	/******************** Dropdown **********************/
	header.topo nav.menu ul li.drop-menu .dropdown{
		margin-top: 30px;
		width: 155px;
	    left: -44px;
	}
	/******************** Dropdown **********************/
	/******************** Atribuições Topo HOME **********************/

	/******************** Atribuições Rodape **********************/
	#rodape{
		padding: 39px 0 50px 0;
	}

	#rodape #left-rdp{
		display: table;
		float: left;
	}

	#rodape #right-rdp{
		display: table;
		float: right;
	}

	#rodape #left-rdp span{
		font-size: 17px;
		line-height: normal;
		margin: 60px 0 20px 0;
	}

	#rodape #left-rdp .lojas-rdp{
		margin-right: 10px;
	}


	#rodape #right-rdp #menu-rdp{

	}

	#rodape #right-rdp #menu-rdp h1{
		font-size: 18px;
		line-height: normal;
		margin-bottom: 20px;
	}

	#rodape #right-rdp #menu-rdp ul#col-1{
		margin-right: 60px;
	}
	/******************** Atribuições Rodape **********************/


	/************************* Home *****************************/
	.banner{
		background: linear-gradient(90deg, rgba(255, 113, 0, 0.3) 24.37%, rgba(255, 255, 255, 0.2) 76.25%), url(../img/banner.png);
		background-repeat: no-repeat;
		background-position: center;
		box-sizing: border-box;

		height: 530px;
		padding: 200px 0 0 0;
	}

	.banner h1{
		font-size: 30px;
		line-height: normal;
		margin: 0 auto 20px auto;
		max-width: 500px;
	}

	.banner span{
		font-size: 20px;
		margin: 0 0 30px 0;
	}

	.banner .btn-banner{
		font-size: 18px;
		line-height: 40px;
		height: 40px;
		width: 240px;
	}

	.sep-banner{
		height: 50px;
	}


	#jeito-simples{
		padding: 60px 0 80px 0;
	}

	#jeito-simples h1{
		font-size: 26px;
		margin-bottom: 15px;
	}

	#jeito-simples p{
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	#jeito-simples #itens-jeito{
		margin: 0;
	}

	#jeito-simples #itens-jeito .item-jeito{
		box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.05);

		margin: 0 5px;
		padding: 50px 0 0 0;
		height: 215px;
		width: 203px;
	}
	/************************* Home *****************************/


	/************************* Formulários *****************************/
	.formularios{
		padding: 40px 0 80px 0;
	}

	.formularios h1{
		font-size: 15px;
		letter-spacing: 11px;
		margin-bottom: 30px;
	}

	.formularios h2{
		font-size: 26px;

		margin-bottom: 15px;
	}

	.formularios p{
		font-size: 18px;
		line-height: 30px;

		margin: 0 auto 50px auto;
		max-width: 100%;
	}

	.formularios .formulario{
		margin: 0 auto;
		width: 100%;
	}

	.formularios .formulario .col-1{
		width: 310px;
	}

	.formularios .formulario .col-2{
		width: 310px;
	}

	.formularios .formulario input[type="submit"]{
		font-size: 18px;
		margin: 40px auto 0 auto;
		height: 40px;
		width: 400px;
	}

	.formularios span{
		margin: 40px auto 0 auto;
		max-width: 500px;
	}
	/************************* Formulários *****************************/


	#usamos-tecnologia{
		padding: 60px 0 60px 0;
	}

	#usamos-tecnologia h1{
		font-size: 26px;
		line-height: 45px;

		margin: 0 auto 20px auto;
		max-width: 100%;
	}

	#usamos-tecnologia #btn-usamos{
		font-size: 18px;
		line-height: 40px;
		margin: 0 auto;
		height: 40px;
		width: 270px;
	}



	#para-voce{
		padding: 40px 0 70px 0;
	}

	#para-voce h1{
		font-size: 15px;
		letter-spacing: 11px;
		margin-bottom: 25px;
	}

	#para-voce h2{
		font-size: 26px;
		margin-bottom: 10px;
	}

	#para-voce p{
		font-size: 18px;
		line-height: normal;
		margin-bottom: 60px;
	}

	#para-voce #itens-paravoce{
		margin: 0 -10px;
	}

	#para-voce #itens-paravoce .item-paravoce{
		margin: 0 10px 40px 10px;
		min-height: 140px;
		width: 200px;
	}

	#para-voce #itens-paravoce .item-paravoce img{
		margin-bottom: 20px;
	}

	#para-voce #itens-paravoce .item-paravoce h3{
		font-size: 16px;
		line-height: 25px;
	}

	#para-voce #itens-loja{
		margin: 40px auto 0 auto;
	}


	.clientes-parceiros{
		padding: 60px 0 60px 0;
	}

	.clientes-parceiros h1{
		font-size: 26px;
		margin-bottom: 20px;
	}

	.clientes-parceiros span{
		font-size: 18px;
		line-height: normal;
	}

	.clientes-parceiros .itens-clientesparceiros{
		margin: 50px -9px;
	}

	.clientes-parceiros .itens-clientesparceiros .item-clientesparceiros{
		margin: 0 11px;
		height: 109px;
		width: 109px;
	}
	/************************* Home *****************************/


	/************************* Sobre nós *****************************/
	.banner-internas{
		height: 180px;
	}


	#troco-simples{
		padding: 60px 0 80px 0;
	}

	#troco-simples h1{
		font-size: 26px;
		margin-bottom: 30px;
	}

	#troco-simples #itens-trocosimples{
		
	}

	#troco-simples #itens-trocosimples .item-trocosimples{
		margin-bottom: 10px;
	}

	#troco-simples #itens-trocosimples .item-trocosimples h2{
		font-size: 18px;
		line-height: 40px;
	}

	#troco-simples #itens-trocosimples .item-trocosimples .txt-trocosimples{
		font-size: 18px;
		line-height: 30px;

		margin: 20px 0 50px 0;
	}


	#veja-como{
		padding: 60px 0 60px;
	}

	#veja-como h1{
		font-size: 26px;
		line-height: 42px;

		margin: 0 0 40px 0;
		width: 100%;
	}

	#veja-como #itens-vejacomo{
		display: table;
		margin: 0 auto;
	}

	#veja-como #itens-vejacomo .item-vejacomo{
		margin: 0 20px;
		padding: 74px 30px 0 30px;
		height: 257px;
		width: 250px;
	}
	/************************* Sobre nós *****************************/


	/************************* Imprensa *****************************/
	.publicacoes{
		padding: 50px 0 80px 0;
	}

	.publicacoes h1{
		font-size: 26px;
		margin-bottom: 10px;
	}

	.publicacoes p.desc-publicacoes{
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 50px;
	}


	.publicacoes .categorias-publicacoes{
		margin-bottom: 30px;
	}

	.publicacoes .categorias-publicacoes h3{
		font-size: 15px;
		line-height: normal;
		margin-bottom: 20px;
	}

	.publicacoes .categorias-publicacoes .categoria-publicacoes{
		font-size: 18px;
		line-height: 36px;

		margin-right: 10px;
		margin-bottom: 10px;
		height: 40px;
		padding: 0 15px;
	}

	.publicacoes .itens-publicacoes{
		margin: 0 -5px;

	}

	.publicacoes .itens-publicacoes .item-publicacoes{
		margin: 0 5px 20px 5px;
		height: 335px;
		width: 315px;
	}

	.publicacoes .itens-publicacoes .item-publicacoes .img-publicacoes{
		height: 150px;
	}

	.publicacoes .itens-publicacoes .item-publicacoes h2{
		font-size: 17px;
		line-height: 36px;

		margin: 15px 15px 0px 15px;
	}

	.publicacoes .itens-publicacoes .item-publicacoes p{
		font-size: 15px;
		line-height: 23px;
		margin: 0 15px 10px 15px;
	}

	.publicacoes .itens-publicacoes .item-publicacoes span{
		font-size: 15px;
		line-height: 36px;
		margin: 0 15px 0 0;
	}


	.newsletter{
		padding: 60px 0 60px 0;
	}

	.newsletter h1{
		font-size: 26px;
		line-height: normal;
		margin-bottom: 10px;
	}

	.newsletter p{
		font-size: 18px;
		line-height: normal;
		margin-bottom: 40px;
	}

	.newsletter form{
		
	}

	.newsletter form .center-newsletter{
		display: table;
		margin: 0 auto;
	}

	.newsletter form .center-newsletter .campo-newsletter{
		margin: 0 15px 0 15px;
		width: 290px;
	}

	.newsletter form input[type="submit"]{
		font-size: 18px;
		margin: 50px auto 35px auto;
		height: 40px;
		width: 400px;
	}
	/************************* Imprensa *****************************/


	/************************* Para você *****************************/
	#pg-para-voce{
		padding: 60px 0 60px 0;
	}

	#pg-para-voce h1{
		font-size: 26px;
		margin-bottom: 10px;
	}

	#pg-para-voce h2{
		font-size: 18px;
		margin-bottom: 50px;
	}

	#pg-para-voce #box-paravoce{
		margin: 0;
		padding: 64px 85px 50px 85px;
		width: 100%;
	}

	#pg-para-voce #box-paravoce .item-paravoce{
		width: 120px;
	}

	#pg-para-voce #box-paravoce span{
		font-size: 18px;
		line-height: 30px;
		margin-top: 60px;
	}

	#pg-para-voce p{
		font-size: 18px;
		line-height: 30px;

		margin: 60px auto 0 auto;
		max-width: 100%;
	}


	
	#como-funciona{
		background: #F9F9F9;
		padding: 0 0 0 0;
	}

	#como-funciona #left-comofunciona{
		background: url(../img/bg-comofunciona.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 702px;
		width: 50%;
	}

	#como-funciona #right-comofunciona{
		float: right;
		width: 50%;
	}

	#como-funciona #conteudo-comofunciona{
		box-sizing: border-box;
		float: left;
		padding: 40px 0 0 40px ;
		width: 330px;
	}

	#como-funciona h1{
		font-size: 15px;
		letter-spacing: 10px;

		margin-bottom: 10px;
	}

	#como-funciona h2{
		font-size: 26px;
		margin-bottom: 10px;
	}

	#como-funciona h3{
		font-size: 16px;
	}

	#como-funciona ul{
		border-top: 2px dashed #D8D8D8;
		border-bottom: 2px dashed #D8D8D8;

		/*list-style-image: url('../img/marcador.png');*/

		margin: 30px 0 30px 0;
		padding: 15px 0;
	}

	#como-funciona ul li{
		background: url(../img/marcador.png);
		background-position: left 17px;
		background-repeat: no-repeat;
		font-size: 18px;
		line-height: 40px;
		padding-left: 13px;
	}

	#como-funciona p{
		font-size: 16px;
		line-height: 28px;
	}




	#varias-formas{
		padding: 60px 0 30px 0;
	}

	#varias-formas h1{
		font-size: 26px;
		margin-bottom: 50px;
	}

	#varias-formas #itens-variasformas .item-variasformas{
		margin-bottom: 40px;
		width: 212px;
	}


	.baixe-agora{
		padding: 50px 0 55px 0;
	}

	.baixe-agora h1{
		font-size: 26px;
		line-height: normal;
		margin-bottom: 50px;
	}


	#vantagens-receber{
		padding: 60px 0 80px 0;
	}

	#vantagens-receber h1{
		font-size: 26px;
		margin-bottom: 25px;
	}

	#vantagens-receber p#txt-vantagens{
		font-size: 18px;
		line-height: 28px;

		margin-bottom: 70px;
	}

	#vantagens-receber #itens-vantagens #left,
	#vantagens-receber #itens-vantagens #right{
		max-width: 166px;
	}

	#vantagens-receber #itens-vantagens #center{
		display: inline-block;
		margin: 0 auto;
		max-width: 308px;
		width: auto;
	}

	#vantagens-receber #itens-vantagens #center h2{
		font-size: 26px;
		margin-bottom: 8px;
	}

	#vantagens-receber #itens-vantagens #center h3{
		font-size: 26px;
		margin-bottom: 30px;
	}

	#vantagens-receber #itens-vantagens #center p#desc-vantagens{
		font-size: 16px;
		line-height: 28px;
	}

	#vantagens-receber #flexa-vantagens{
		margin-top: 30px;
	}

	#vantagens-receber .btn-estabelecimentos-participantes{
		font-size: 18px;
		line-height: 45px;/* identical to box height, or 137% */


		margin: 40px auto 0 auto;
		height: 45px;
		width: 100%;
	}


	#motivos-receber{

	}


	#motivos-receber #motivos-receber-left{
		height: 550px;
		width: 50%;
	}

	#motivos-receber #motivos-receber-right{
		float: right;
		width: 50%;
	}

	#motivos-receber #motivos-receber-right #motivos-receber-info{
		padding: 40px 0 0 50px;
		width: 320px;
	}


	#motivos-receber h1{
		font-size: 24px;
		margin-bottom: 20px;
	}

	#motivos-receber p{
		font-size: 17px;
		line-height: 28px;
		margin-bottom: 30px;
	}

	#motivos-receber #itens-motivosreceber img{
	    margin: 0px 10px 0 0;
	    max-width: 125px;
	}



	#quer-outro{
		padding: 60px 0 70px 0;
	}

	#quer-outro h1{
		font-size: 26px;
		margin-bottom: 40px;
	}

	#quer-outro img{
		margin-bottom: 30px;
		max-width: 100%;
	}

	#quer-outro p{
		font-size: 18px;
		line-height: 28px;
	}


	#ainda-duvida{
		padding: 60px 0 70px 0;
	}


	#left-aindaduvida{
		margin-top: 105px;
	    max-width: 190px;
	}

	#right-aindaduvida{
		float: right;
		width: 400px;
	}


	#ainda-duvida h1{
		font-size: 26px;
		margin-bottom: 10px;
	}

	#ainda-duvida span{
		font-size: 18px;
		line-height: normal;
		margin-bottom: 30px;
	}

	#ainda-duvida p{
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 50px;
	}

	#ainda-duvida #right-aindaduvida #itens-aindaduvida img{
		margin: 0 16px 0 0;
	}
	/************************* Para você *****************************/


	/************************* Para empresas *****************************/
	#para-empresas{
		padding: 60px 0 60px 0;
	}


	#right-parempresas{
		float: right;
		margin-top: 7px;
		max-width: 265px;
	}

	#left-paraempresas{
		float: left;
		width: 360px;
	}


	#para-empresas h1{
		font-size: 24px;
		margin-bottom: 10px;
	}

	#para-empresas h2{
		font-size: 16px;
		margin-bottom: 30px;
	}

	#para-empresas p{
		font-size: 16px;
		line-height: 26px;
	}



	#simplifique-vantagens{
		background: url(../img/bg-varias-formas.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 60px 0 50px 0;
	}

	#simplifique-vantagens #col-1{
		
	}

	#simplifique-vantagens #col-1 h1{
		font-size: 26px;
		line-height: 36px;

		margin-bottom: 20px;
	}

	#simplifique-vantagens #col-1 p{
		font-size: 18px;
		line-height: 30px;
		width: 100%;
	}

	#simplifique-vantagens #col-2{
		margin-top: 50px;
	}


	#simplifique-vantagens #col-2 h1{
		line-height: normal;

		margin-bottom: 30px;
	}

	#simplifique-vantagens #col-2 ul li{
		font-size: 18px;
		margin: 0 0 30px 0;

		line-height: 42px;
		padding-left: 50px;
	}




	#quero-fazer{
		padding: 60px 0 60px 0;
	}

	#quero-fazer h1{
		font-size: 26px;
		margin-bottom: 8px;
	}

	#quero-fazer h2{
		font-size: 26px;
		margin-bottom: 40px;
	}

	#quero-fazer p{
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 40px;
	}

	#quero-fazer .itens-querofazer{

	}

	#quero-fazer #primeiros-itens{
		margin: 0;
	}

	#quero-fazer .itens-querofazer .item-querofazer{
		margin: 0 0 0 0;
		width: 213px;
	}

	#quero-fazer .itens-querofazer .item-querofazer img{
		max-width: 180px;
	}

	#quero-fazer .itens-querofazer .item-querofazer h3{
		font-size: 26px;
	}

	#quero-fazer .itens-querofazer .item-querofazer span{
		font-size: 17px;
		line-height: 26px;
	}

	#quero-fazer #btn-querofazer{
		font-size: 18px;
		line-height: 40px;
		margin: 60px auto 0 auto;
		height: 40px;
		width: 430px;
	}


	#ainda-esta{

	}


	#ainda-esta #ainda-esta-left{
		background: url(../img/bg-ainda-esta.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		float: left;

		height: 440px;
		width: 50%;
	}

	#ainda-esta #ainda-esta-right{
		float: right;
		width: 50%;
	}

	#ainda-esta #ainda-esta-right #ainda-esta-info{
		padding: 40px 0 0 50px;
		width: 320px;
	}


	#ainda-esta h1{
		font-size: 26px;
		line-height: normal;
		margin: 0 auto 20px auto;
		max-width: 100%;
	}

	#ainda-esta p{
		font-size: 18px;
		line-height: 28px;
		margin: 0 auto 40px auto;
		max-width: 100%;
	}

	#ainda-esta #btn-aindaesta{
		font-size: 18px;
		line-height: 40px;
		height: 40px;
		width: 100%;
	}


	#vantagens-troco{
		padding: 60px 0 60px 0;
	}

	#vantagens-troco h1{
		font-size: 26px;
		margin-bottom: 30px;
	}

	#vantagens-troco #btn-vantagenstroco{
		font-size: 18px;
		line-height: 40px;
		margin: 35px auto 0 auto;
		height: 40px;
		width: 240px;
	}


	#para-empresas-saiba-mais{
		padding: 60px 0 60px 0;
	}

	#para-empresas-saiba-mais h1{
		font-size: 26px;
		margin-bottom: 10px;
	}

	#para-empresas-saiba-mais h2{
		font-size: 18px;
		margin-bottom: 25px;
	}

	#para-empresas-saiba-mais p{
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 30px;
	}
	/************************* Para empresas *****************************/

	/************************* Fale Conosco *****************************/
	#fale-conosco{
		padding: 60px 0 60px 0;
	}

	#fale-conosco #left{
		width: 250px;
	}

	#fale-conosco #right{
		width: 370px;	
	}

	#fale-conosco #left h1{
		font-size: 26px;
		margin-bottom: 8px;
	}

	#fale-conosco #left p{
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 100px;
	}

	#fale-conosco #left h2{
		font-size: 18px;
		margin-bottom: 10px;
	}

	#fale-conosco #left span{
		font-size: 18px;
		margin-bottom: 20px;
	}

	#fale-conosco #left img{
		margin-top: 40px;
		max-width: 100%;
	}

	#fale-conosco #right textarea{
		height: 150px;
	}

	#fale-conosco #right input[type="submit"]{
		font-size: 18px;
		height: 40px;
	}
	/************************* Fale Conosco *****************************/


	/************************* Entidade *****************************/
	#entidade{
		padding: 50px 0 70px 0;
	}

	#entidade h1{
		font-size: 26px;
		line-height: normal;
		margin-bottom: 40px;
	}

	#entidade h1 br{
		display: none;
	}


	#entidade .item-entidade{
		margin-bottom: 50px;
	}

	#entidade .item-entidade .img-entidade{
	    max-width: 280px;
	}

	#entidade .item-entidade .info-entidade{
		float: right;
	    width: 340px;
	}

	#entidade .item-entidade .info-entidade img{
	    max-width: 55px;
	}

	#entidade h2{
		float: right;
		font-size: 18px;

		width: 260px;
	}

	#entidade p{
		font-size: 16px;
		line-height: 26px;
		margin-top: 20px;
	}


	#entidade #itens-entidade img{
		max-width: 95%;
	}
	/************************* Entidade *****************************/

	/************************* Revendedores *****************************/
	#revendedores{
		padding: 60px 0 60px 0;
	}

	#revendedores h1{
		font-size: 28px;
		margin-bottom: 20px;
	}

	#revendedores p{
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 40px;
	}

	#revendedores form{
		margin: 50px 0 40px 0;
	}

	#revendedores form h2{
		font-size: 16px;
		margin-right: 10px;
	}

	#revendedores form input[type="text"]{
		font-size: 14px;
		margin-right: 10px;
		height: 25px;
		width: 120px;
	}

	#revendedores form label{
		font-size: 14px;
		margin-right: 10px;
	}

	#revendedores form select{
		height: 25px;
		width: 40px;
	}

	#revendedores form input[type="submit"]{
		font-size: 16px;
		margin-top: -8px;
		height: 40px;
		width: 70px;
	}


	#revendedores #itens-revendedores{
		margin: 0 -5px;
	}

	#revendedores #itens-revendedores .item-revendedores{
		margin: 0 5px 10px 5px;
		padding: 20px 15px 0 15px;
		height: 180px;
		width: 315px;
	}

	#revendedores #itens-revendedores .item-revendedores h3{
		font-size: 18px;
		margin-bottom: 5px;
	}

	#revendedores #itens-revendedores .item-revendedores h4{
		font-size: 13px;
		letter-spacing: 4px;
		margin-bottom: 30px;
	}

	#revendedores #itens-revendedores .item-revendedores span{
		font-size: 16px;
		line-height: 28px;
	}

	#revendedores #itens-revendedores .item-trocosimples img{
		margin-bottom: 30px;
	}
	/************************* Revendedores *****************************/


	/************************* Seja revendedor *****************************/
	#seja-revendedor{
		padding: 60px 0 35px 0;
	}

	#seja-revendedor span{
		margin-bottom: 30px;
	}

	#seja-revendedor h1{
		font-size: 26px;
		margin-bottom: 20px;
	}

	#seja-revendedor p{
		line-height: 28px;
	}

	#seja-revendedor img#um{
		margin: 50px 0 0 0;
	}

	#seja-revendedor img#dois{
		margin: 0 0 50px 0;
	}

	#seja-revendedor ul{
		padding: 20px 0;
	}

	#seja-revendedor ul li{
		background: url(../img/marcador.png);
		background-position: left 8px;
		background-repeat: no-repeat;
		font-size: 18px;
		line-height: 25px;
		margin: 0 auto 15px auto;
		padding-left: 15px;
	}
	/************************* Seja revendedor *****************************/

	/************************* Sistemas *****************************/
	#sistemas{
		padding: 60px 0 45px 0;
	}

	#sistemas h1{
		font-size: 26px;
		margin-bottom: 20px;
	}

	#sistemas p{
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 40px;
		
	}

	#sistemas .itens-sistemas{
		margin: 0 -10px 0 -10px;
	}

	#sistemas .itens-sistemas h2{
		margin-bottom: 25px;
	}

	#sistemas .itens-sistemas .item-sistemas{
		margin: 0 11.5px 30px 11.5px;
		height: 109px;
		width: 109px;
	}


	#sistemas .itens-sistemas2{
		margin: 0 -10px 0 -10px;
	}

	#sistemas .itens-sistemas2 .item-sistemas2{
		float: left;

		margin: 0 11.5px -30px 11.5px;
		width: 109px;
	}

	#sistemas .itens-sistemas2 .item-sistemas2 .item-sistemas{
		background: url(../img/clientes-parceiros.png);
		background-position: center;
		background-repeat: no-repeat;

		margin: 0 11.5px 30px 0;
		height: 109px;
		width: 109px;
	}


	#sistemas #btn-sistemas{
		font-size: 19px;
		line-height: 40px;
		height: 40px;
		width: 250px;
	}


	#txt-sistemas{
		font-size: 18px;
		line-height: 28px;
		padding: 60px 0 60px 0;
	}
	/************************* Sistemas *****************************/

	/************************* Detalhes *****************************/
	#detalhes{
		padding: 60px 0 35px 0;
	}

	#detalhes span{
		margin-bottom: 30px;
	}

	#detalhes h1{
		font-size: 26px;
		margin-bottom: 20px;
	}

	#detalhes p{
		line-height: 28px;
	}
	/************************* Detalhes *****************************/



}


@media only screen and (max-width: 680px) {

	/* ------ Estrutura Geral e Home ------ */
	body { min-width: 300px; }
	.conteudo { width: 280px !important; }


	.display-desktop{
		display: none !important;
	}
	.display-mobile{
		display: block !important;
	}


	/******************** Atribuições Topo HOME **********************/
	header.topo{
		background: #FFFFFF;
		box-shadow: 0px 0px 49px rgba(0, 0, 0, 0.1);
		height: 115px;
		width: 100%;
		z-index: 0;
	}

	header.topo .logo-header{
		margin-top: 29px;
	}

	#redes-topo{
		display: none;
	}

	.br-header{
		display: none;
	}

	header.topo nav.menu{
		display: none;
	}


	#redes-menuueek{
		margin-top: 20px;
	}

	.rede-menuueek{
		border: 1px solid #fff;
		border-radius: 30px;
		float: left;
		color: #FFFFFF;
		font-size: 16px;
		line-height: 31px;
		margin-right: 5px;
		text-align: center;
		height: 30px;
		width: 30px;
	}

	.rede-menuueek:hover{
		background: #fff;
		border: 1px solid #FF7200;
		color: #FF7200;
	}
	/******************** Atribuições Topo HOME **********************/


	/************************* Home *****************************/
	.banner{
		background: linear-gradient(90deg, rgba(255, 113, 0, 0.3) 24.37%, rgba(255, 255, 255, 0.2) 76.25%), url(../img/banner.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		height: 581px;
		padding: 180px 0 0 0;
	}

	.banner h1{
		color: #FFFFFF;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 41px;

		margin: 0 auto 25px auto;
		max-width: 100%;
		text-align: center;
	}

	.banner span{
		color: #F9F9F9;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 26px;

		margin: 0 0 25px 0;
		text-align: center;
	}

	.banner .btn-banner{
		font-size: 19px;
		line-height: 55px;
		height: 55px;
		width: 260.78px;
	}

	.sep-banner{
		height: 40px;
	}


	#jeito-simples{
		padding: 50px 0 60px 0;
	}

	#jeito-simples h1{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;
		text-align: center;

		margin-bottom: 15px;
	}

	#jeito-simples p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		text-align: center;


		margin-bottom: 25px;
	}

	#jeito-simples #itens-jeito{
		display: block;
		margin: 0;
	}

	#jeito-simples #itens-jeito .item-jeito{
		float: none;

		margin: 0 0 40px 0;
		padding: 74px 0 0 0;
		height: 257px;
		width: 100%;
	}
	/************************* Home *****************************/

	/************************* Formulários *****************************/
	.formularios{
		padding: 40px 0 50px 0;
	}

	.formularios h1{
		font-size: 15px;
		letter-spacing: 12px;
		margin-bottom: 25px;
	}

	.formularios h2{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;
		text-align: center;


		margin-bottom: 30px;
	}

	.formularios p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		text-align: center;

		margin: 0 0 50px 0;
		max-width: 100%;
	}

	.formularios .formulario{
		display: none;
		margin: 0;
		width: 100%;
	}

	.formularios .formulario .col-1{
		float: none;
		width: 100%;
	}

	.formularios .formulario .col-2{
		float: none;
		width: 100%;
	}

	.formularios .formulario input[type="submit"]{
		font-size: 17px;
		margin: 0;
		height: 40px;
		width: 100%;
	}

	.formularios span{
		font-size: 12px;
		line-height: 20px;

		margin: 35px 0 0 0;
		max-width: 100%;
	}


	.formularios .btn-formularios{
		background: #FF7200;
		border-radius: 10px;

		color: #F9F9F9;
		cursor: pointer;
		display: block;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 55px;
		margin: 0 auto;
		text-align: center;

		height: 55px;
		width: 100%;
	}


	.formulario-sucesso{
		padding: 43px 0 38px 0;
		text-align: left;
	}

	.formulario-erro{
		padding: 43px 0 38px 0;
		text-align: left;
	}
	/************************* Formulários *****************************/


	#usamos-tecnologia{
		padding: 80px 0 70px 0;
	}

	#usamos-tecnologia h1{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;/* or 144% */
		text-align: center;

		margin: 0 0 50px 0;
		max-width: 100%;
	}

	#usamos-tecnologia #btn-usamos{
		background: #FF7200;
		border-radius: 10px;
		border: 1px solid #FF7200;

		color: #F9F9F9;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 55px;
		text-align: center;


		margin: 0 auto;
		height: 55px;
		width: 100%;
	}


	#para-voce{
		padding: 60px 0 30px 0;
	}

	#para-voce h1{
		font-size: 15px;
		letter-spacing: 12px;
		margin-bottom: 25px;
	}

	#para-voce h2{
		font-size: 32px;
		line-height: normal;
		margin-bottom: 30px;
	}

	#para-voce p{
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 70px;
	}

	#para-voce #itens-paravoce{
		margin: 0;
	}

	#para-voce #itens-paravoce .item-paravoce{
		float: none;
		margin: 0 0 50px 0;
		width: 100%;
	}

	#para-voce #itens-loja{
		display: block;
		margin: 15px 0 0 0;
	}

	#para-voce #itens-loja img{
		float: none;
		margin: 0 0 60px 0;
	}


	.clientes-parceiros{
		padding: 60px 0 125px 0;
	}

	.clientes-parceiros h1{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: normal;
		margin-bottom: 25px;
	}

	.clientes-parceiros span{
		color: #000000;
		display: block;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 35px;
	}

	.clientes-parceiros .itens-clientesparceiros{
		margin: 60px 0 0 0;
	}

	.clientes-parceiros .itens-clientesparceiros .item-clientesparceiros{
		float: none;

		margin: 0 auto 0 auto;
		height: 109px;
		width: 109px;
	}
	/************************* Home *****************************/

	/******************** Atribuições Rodape **********************/
	#rodape{
		padding: 60px 0 0px 0;
	}

	#rodape #left-rdp{
		display: block;
		float: none;
	}

	#rodape #right-rdp{
		display: none;
	}

	#rodape #left-rdp img{
		float: none;
	}

	#rodape #left-rdp span{
		color: #FFFFFF;
		display: block;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 35px;


		margin: 40px 0 30px 0;
	}

	#rodape #left-rdp .lojas-rdp{
		margin-right: 0;
		margin-bottom: 30px;
	}

	#direitos{
		height: 50px;
	}

	#direitos span{
		display: none;
	}

	#direitos img{
		float: none;
	}
	/******************** Atribuições Rodape **********************/


	/************************* Sobre nós *****************************/
	.banner-internas{
		height: 150px;
	}


	#troco-simples{
		padding: 50px 0 50px 0;
	}

	#troco-simples h1{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: normal;

		margin-bottom: 30px;
	}

	#troco-simples #itens-trocosimples .item-trocosimples h2{
		color: #626262;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 35px;

		width: 100%;
	}

	#troco-simples #itens-trocosimples .item-trocosimples .txt-trocosimples{
		color: #535353;
		display: none;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;

		margin: 20px 0 30px 0;
	}


	#veja-como{
		padding: 50px 0 10px;
	}

	#veja-como h1{
		color: #535353;

		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;

		margin: 0 0 35px 0;
		width: 100%;
	}

	#veja-como #itens-vejacomo{
		display: block;
		margin: 0;
	}

	#veja-como #itens-vejacomo .item-vejacomo{
		background: #FFFFFF;
		border: 1px solid #F9F9F9;
		box-sizing: border-box;
		box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.05);

		float: none;
		margin: 0 auto 40px auto;
		padding: 35px 10px 0 10px;
		height: 180px;
		width: 250px;
	}

	#veja-como #itens-vejacomo .item-vejacomo img{
		margin-bottom: 20px;
	}

	/************************* Sobre nós *****************************/

	/************************* Imprensa *****************************/
	.publicacoes{
		padding: 50px 0 60px 0;
	}

	.publicacoes h1{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		margin-bottom: 10px;
	}

	.publicacoes p.desc-publicacoes{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 55px;
	}


	.publicacoes .categorias-publicacoes{
		margin-bottom: 30px;
	}

	.publicacoes .categorias-publicacoes h3{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 900;
		font-size: 15px;
		line-height: normal;
		margin-bottom: 20px;
	}

	.publicacoes .categorias-publicacoes .categoria-publicacoes{
		border: 2px solid #FF7100;
		box-sizing: border-box;
		border-radius: 10px;

		font-size: 18px;
		line-height: 43px;

		margin-right: 10px;
		margin-bottom: 10px;
		height: 45px;
		padding: 0 15px;
	}


	.publicacoes .itens-publicacoes{
		margin: 0;
	}

	.publicacoes .itens-publicacoes .item-publicacoes{
		float: none;

		margin: 0 0 30px 0;
		padding: 0 0 45px 0;
		height: auto;
		width: 100%;
	}

	.publicacoes .itens-publicacoes .item-publicacoes .img-publicacoes{
		height: 200px;
	}

	.publicacoes .itens-publicacoes .item-publicacoes h2{
		font-size: 17px;
		line-height: 36px;

		margin: 15px 18px 0px 18px;
	}

	.publicacoes .itens-publicacoes .item-publicacoes p{
		font-size: 15px;
		line-height: 25px;
		margin: 0 18px 10px 18px;
	}

	.publicacoes .itens-publicacoes .item-publicacoes span{
		font-size: 15px;
		line-height: 36px;
		margin: 0 18px 0 0;
	}


	.newsletter{
		padding: 50px 0 50px 0;
	}

	.newsletter h1{

		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: normal;
		text-align: center;

		margin-bottom: 20px;
	}

	.newsletter p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 40px;
	}

	.newsletter form .center-newsletter{
		display: block;
		margin: 0;
	}

	.newsletter form .center-newsletter .campo-newsletter{
		float: none;
		margin: 0 0 50px 0;
		width: 100%;
	}

	.newsletter form .center-newsletter .campo-newsletter input[type="text"]{
		background: #FFFFFF;
		border: 1px solid #F9F9F9;
		box-sizing: border-box;
		box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);

		color: #979797;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;

		padding-left: 15px;
		height: 60px;
		width: 100%;
	}

	.newsletter form input[type="submit"]{
		background: #FF7200;
		border-radius: 10px;
		border: 1px solid #FF7200;

		color: #F9F9F9;
		cursor: pointer;
		display: block;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		text-align: center;

		margin: 10px auto 35px auto;
		height: 55px;
		width: 100%;
	}

	.newsletter span{
		color: #979797;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		text-align: center;
	}
	/************************* Imprensa *****************************/


	/************************* Para você *****************************/
	#pg-para-voce{
		padding: 50px 0 50px 0;
	}

	#pg-para-voce h1{
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;
		margin-bottom: 15px;
		text-align: center;
	}

	#pg-para-voce h2{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 55px;
		text-align: center;
	}

	#pg-para-voce #box-paravoce{
		margin: 0;
		padding: 50px 0 70px 0;
		width: 100%;
	}

	#pg-para-voce #box-paravoce .item-paravoce{
		margin-bottom: 70px;
		width: 100%;
	}

	#pg-para-voce #box-paravoce #left{
		float: none;
	}

	#pg-para-voce #box-paravoce #right{
		float: none;
	}

	#pg-para-voce #box-paravoce #center{
		display: block;
		margin: 0 0 70px 0;
	}

	#pg-para-voce #box-paravoce span{
		color: #535353;

		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;

		margin-top: 10px;
	}

	#pg-para-voce p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;

		margin: 50px 0 0 0;
		max-width: 100%;
	}


	

	#como-funciona{
		background: #F9F9F9;
		padding: 0 0 0 0;
	}

	#como-funciona #left-comofunciona{
		display: none;
	}

	#como-funciona #right-comofunciona{
		float: none;
		width: 100%;
	}

	#como-funciona #conteudo-comofunciona{
		box-sizing: border-box;
		float: none;
		margin: 0 auto;
		padding: 40px 0 40px 0;
		width: 280px;
	}

	#como-funciona h1{
		font-size: 15px;
		letter-spacing: 10px;

		margin-bottom: 10px;
	}

	#como-funciona h2{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: normal;

		margin-bottom: 10px;
	}

	#como-funciona h3{
		color: #535353;	
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: normal;

	}

	#como-funciona ul{
		border-top: 2px dashed #D8D8D8;
		border-bottom: 2px dashed #D8D8D8;

		/*list-style-image: url('../img/marcador.png');*/

		margin: 40px 0 40px 0;
		padding: 20px 0;
	}

	#como-funciona ul li{
		background: url(../img/marcador.png);
		background-position: left 23px;
		background-repeat: no-repeat;
		color: #535353;
		display: inline-block;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 52px;
		list-style: none;
		padding-left: 13px;
	}

	#como-funciona p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
	}




	#varias-formas{
		background: #FF7200;
		padding: 80px 0 30px 0;
	}

	#varias-formas h1{
		color: #FFFFFF;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;

		margin-bottom: 80px;
	}

	#varias-formas #itens-variasformas{
		text-align: center;
	}

	#varias-formas #itens-variasformas .item-variasformas{
		display: block;
		margin-bottom: 50px;
		width: 100%;
	}

	#varias-formas #itens-variasformas .item-variasformas img{
		margin-bottom: 25px;
	}

	#varias-formas #itens-variasformas .item-variasformas h2{
		color: #EEEEEE;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 26px;
	}

	#varias-formas #itens-variasformas .left{
		float: none;
	}

	#varias-formas #itens-variasformas .right{
		float: none;
	}

	#varias-formas #itens-variasformas .center{
		display: block;
		margin: 0 0 50px 0;
	}


	.baixe-agora{
		background: #FF7200;
		padding: 70px 0 40px 0;
	}

	.baixe-agora h1{
		display: none;
	}

	.baixe-agora .itens-baixeagora{
		display: block;
		margin: 0;
		text-align: center;
	}

	.baixe-agora .itens-baixeagora img{
		float: none;
		margin: 0 0 60px 0;
	}


	#vantagens-receber{
		padding: 60px 0 60px 0;
	}

	#vantagens-receber h1{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;

		margin-bottom: 35px;
	}

	#vantagens-receber p#txt-vantagens{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;

		margin-bottom: 45px;
	}

	#vantagens-receber #itens-vantagens{
		
	}

	#vantagens-receber #itens-vantagens #left{
		display: none;
		float: none;
	}

	#vantagens-receber #itens-vantagens #right{
		float: none;
		margin: 15px auto 0 auto;
		max-width: 265px;
	}

	#vantagens-receber #itens-vantagens #center{
		display: block;
		margin: 0;
		width: 100%;
	}

	#vantagens-receber #itens-vantagens #center #vantagem-mobile{
		display: block;
		margin: 0 auto;
		max-width: 265px;
	}

	#vantagens-receber #itens-vantagens #center h2{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		margin-bottom: 10px;
	}

	#vantagens-receber #itens-vantagens #center h3{
		color: #979797;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 32px;
		margin-bottom: 45px;
	}

	#vantagens-receber #itens-vantagens #center p#desc-vantagens{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
	}

	#vantagens-receber #itens-vantagens #center p#desc-vantagens br{
		display: none;
	}

	#vantagens-receber #itens-vantagens #center p#desc-vantagens br{
		clear: none;
	}

	#vantagens-receber #flexa-vantagens{
		display: none;
	}


	#motivos-receber{
		
	}


	#motivos-receber #motivos-receber-left{
		display: none;
	}

	#motivos-receber #motivos-receber-right{
		float: none;
		width: 100%;
	}

	#motivos-receber #motivos-receber-right #motivos-receber-info{
		float: none;

		margin: 0 auto;
		padding: 40px 0 40px 0;
		width: 280px;
	}


	#motivos-receber h1{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;
		text-align: center;

		margin-bottom: 40px;
	}

	#motivos-receber p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		text-align: center;

		margin-bottom: 0;
	}

	#motivos-receber #itens-motivosreceber{
		display: block;
		margin: 0 0 0 0;
		text-align: center;
	}

	#motivos-receber #itens-motivosreceber img{
		float: none;
		margin: 60px 0 0 0;
	}


	#quer-outro{
		padding: 60px 0 70px 0;
	}

	#quer-outro h1{
		color: #FFFFFF;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;

		margin-bottom: 50px;
	}

	#quer-outro img{
		
		margin-bottom: 40px;
	}

	#quer-outro p{
		color: #FFFFFF;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
	}


	#ainda-duvida{
		padding: 60px 0 60px 0;
	}


	#left-aindaduvida{
		display: none;
	}

	#right-aindaduvida{
		float: none;
		width: 100%;
	}


	#ainda-duvida h1{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		text-align: center;

		margin-bottom: 10px;
	}

	#ainda-duvida span{
		color: #535353;
		display: block;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 32px;
		text-align: center;


		margin-bottom: 25px;
	}

	#ainda-duvida p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		text-align: justify;
		
		margin-bottom: 0;
	}

	#ainda-duvida #itens-aindaduvida{
		display: none !important;
	}
	/************************* Para você *****************************/


	/************************* Para empresas *****************************/
	#para-empresas{
		padding: 50px 0 50px 0;
	}


	#right-parempresas{
		display: none;
	}

	#left-paraempresas{
		float: none;
		width: 100%;
	}


	#para-empresas h1{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;

		margin-bottom: 30px;
	}

	#para-empresas h2{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 32px;

		margin-bottom: 0;
	}

	#para-empresas p{
		display: none;
	}



	#simplifique-vantagens{
		background: url(../img/bg-varias-formas.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 50px 0 40px 0;
	}

	#simplifique-vantagens #col-1{
		
	}

	#simplifique-vantagens #col-1 h1{
		color: #FFFFFF;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;

		margin-bottom: 30px;
		text-align: center;
	}

	#simplifique-vantagens #col-1 p{
		color: #FFFFFF;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 32px;

		text-align: center;
		margin: 0;
		width: 100%;
	}

	#simplifique-vantagens #col-2{
		margin-top: 60px;
	}


	#simplifique-vantagens #col-2 h1{
		color: #FFFFFF;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;

		margin-bottom: 30px;
		text-align: center;
	}

	#simplifique-vantagens #col-2 ul{
		
	}


	#simplifique-vantagens #col-2 .item-simplifique{
		float: none;
	    margin: 0;
	    width: 100%;
	}

	#simplifique-vantagens #col-2 ul li{
		box-sizing: border-box;
		color: #FFFFFF;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		margin: 0 0 30px 0;

		list-style: none;
		line-height: 42px;
		padding-left: 50px;
	}



	#quero-fazer{
		padding: 60px 0 55px 0;
	}

	#quero-fazer h1{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;

		margin-bottom: 10px;
	}

	#quero-fazer h2{
		color: #DADADA;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;

		margin-bottom: 50px;
	}

	#quero-fazer p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;

		margin-bottom: 80px;
	}

	#quero-fazer .itens-querofazer{
		display: block;
		margin: 0;
	}

	#quero-fazer #primeiros-itens{
		margin: 0;
	}

	#quero-fazer .itens-querofazer .item-querofazer{
		float: none;

		margin: 0 0 45px 0;
		width: 100%;
	}

	#quero-fazer .itens-querofazer .item-querofazer img{
		
	}

	#quero-fazer .itens-querofazer .item-querofazer h3{
		font-size: 35px;
	}

	#quero-fazer .itens-querofazer .item-querofazer span{
		font-size: 18px;
		line-height: 32px;
	}

	#quero-fazer #btn-querofazer{
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 55px;

		margin: 20px 0 0 0;
		height: 55px;
		width: 100%;
	}


	#ainda-esta{
		
	}


	#ainda-esta #ainda-esta-left{
		display: none;
	}

	#ainda-esta #ainda-esta-right{
		float: none;
		width: 100%;
	}

	#ainda-esta #ainda-esta-right #ainda-esta-info{
		float: none;

		margin: 0 auto;
		text-align: center;
		padding: 40px 0 40px 0;
		width: 280px;
	}


	#ainda-esta h1{
		color: #FF7100;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;
		margin: 0 0 40px 0;
		max-width: 100%;
	}

	#ainda-esta p{
		color: #535353;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		margin: 0 0 35px 0;
		max-width: 100%;
	}

	#ainda-esta #btn-aindaesta{
		font-size: 19px;
		line-height: 55px;

		margin: 0;
		height: 55px;
		width: 100%;
	}


	#vantagens-troco{
		padding: 60px 0 50px 0;
	}

	#vantagens-troco h1{
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 46px;

		margin-bottom: 35px;
	}

	#vantagens-troco ul{
		
	}

	#vantagens-troco ul li{
		background: url(../img/marcador.png);
		background-position: left 23px;
		background-repeat: no-repeat;
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 43px;

		padding-left: 15px;
		text-align: left;
	}

	#vantagens-troco #btn-vantagenstroco{
		font-size: 19px;
		line-height: 55px;

		margin: 20px auto 0 auto;
		height: 55px;
		width: 254px;
	}


	/************************* Post *****************************/
	.publicacao{
		padding: 45px 0 40px 0;
	}

	.publicacao span{
		color: #535353;
		display: block;
		font-family: Lato;
		font-style: normal;
		font-weight: 900;
		font-size: 15px;
	}

	.publicacao span img{
		margin-right: 10px;
	}

	.publicacao .post{
		margin: 40px 0 40px 0;
	}

	.publicacao .post h1{
		color: #FF7200;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		margin-bottom: 15px;
	}

	.publicacao .post img{
		float: none;
		margin: 0 0 25px 0;
		max-width: 100%;
	}

	.publicacao .post p{
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
	}

	.publicacao .post p br{
		clear: none;
	}

	.publicacao .imagens-post{
		margin: 0 0 0 0;
	}

	.publicacao .imagens-post .img-post{
		background: url(../img/post.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		cursor: pointer;
		float: 0;

		margin: 0 0 30px 0;

		height: 200px;
		width: 100%;
	}
	/************************* Post *****************************/


	/************************* Fale Conosco *****************************/
	#fale-conosco{
		padding: 50px 0 85px 0;
	}


	#fale-conosco .fale-computador{
		display: none;
	}

	#fale-conosco .fale-celular{
		display: block;
	}


	#fale-conosco #left{
		float: none;
		width: 100%;
	}

	#fale-conosco #right{
		float: none;
		width: 100%;
	}

	#fale-conosco #left h1{
		font-size: 32px;
		margin-bottom: 15px;
	}

	#fale-conosco #left p{
		font-size: 18px;
		line-height: 32px;

		margin-bottom: 50px;
	}

	#fale-conosco #left h2{
		font-size: 18px;

		margin-bottom: 15px;
	}

	#fale-conosco #left span{
		font-size: 20px;
		margin-bottom: 25px;
	}

	#fale-conosco #left img{
		display: none;
	}


	#fale-conosco #right form{
		margin-bottom: 60px;
	}


	#fale-conosco #right input[type="text"]{
		margin-bottom: 50px;
		height: 60px;
	}

	#fale-conosco #right textarea{
		margin-bottom: 55px;
		height: 256px;
	}

	#fale-conosco #right input[type="submit"]{
		margin: 0 0;
		height: 55px;
		width: 100%;
	}
	/************************* Fale Conosco *****************************/


	/************************* Entidade *****************************/
	#entidade{
		padding: 50px 0 90px 0;
	}

	#entidade h1{
		font-size: 32px;
		line-height: 46px;
		margin-bottom: 50px;
	}


	#entidade .item-entidade{
		margin-bottom: 0;
	}

	#entidade .item-entidade .img-entidade{
		display: none;
	}

	#entidade .item-entidade .info-entidade{
		float: none;
		width: 100%;
	}

	#entidade .item-entidade .info-entidade img{
		float: none;
	}


	#entidade img{
		
		margin-bottom: 25px;
	}

	#entidade h2{
		font-size: 22px;
		line-height: 32px;

		margin-bottom: 25px;
		width: 100%;
	}

	#entidade p{
		font-size: 18px;
		line-height: 32px;
		margin-top: 0;
		margin-bottom: 50px;
	}
	/************************* Entidade *****************************/


	/************************* Revendedores *****************************/
	#revendedores{
		padding: 50px 0 30px 0;
	}

	#revendedores h1{
		font-size: 32px;
		margin-bottom: 40px;
	}

	#revendedores p{
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 40px;
	}

	#revendedores img{
		max-width: 100%;
	}


	#revendedores form{
		margin: 30px 0 40px 0;
	}

	#revendedores form h2{
		color: #535353;
		float: left;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;

		margin-right: 0;
		margin-bottom: 50px;
	}

	#revendedores form input[type="text"]{
		float: none;
		margin-right: 0;
		margin-bottom: 50px;
		height: 33px;
		width: 100%;
	}

	#revendedores form label{
		display: block;
		float: left;
		font-size: 14px;
		margin-right: 0;
	}

	#revendedores form select{
		font-size: 14px;
		float: right;
		margin-top: -10px;
		height: 28px;
		width: 44px;
	}

	#revendedores form input[type="submit"]{
		float: right;
		font-size: 19px;

		margin-top: 30px;
		height: 45px;
		width: 106px;
	}

	#revendedores #itens-revendedores{
		margin: 0;
	}

	#revendedores #itens-revendedores .item-revendedores{
		float: none;
		margin: 0 0 30px 0;
		padding: 30px 30px 30px 30px;
		height: auto;
		width: 100%;
	}

	#revendedores #itens-revendedores .item-revendedores h3{
		font-size: 20px;
		margin-bottom: 5px;
	}

	#revendedores #itens-revendedores .item-revendedores h4{
		font-size: 13px;
		letter-spacing: 4px;
		margin-bottom: 25px;
	}

	#revendedores #itens-revendedores .item-revendedores span{
		font-size: 15px;
		line-height: 30px;
	}

	#revendedores #itens-revendedores .item-trocosimples img{
		margin-bottom: 20px;
	}
	/************************* Revendedores *****************************/


	/************************* Seja revendedor *****************************/
	#seja-revendedor{
		padding: 40px 0 45px 0;
	}

	#seja-revendedor span{
		font-size: 20px;

		margin-bottom: 35px;
	}

	#seja-revendedor h1{
		font-size: 32px;

		margin-bottom: 40px;
	}

	#seja-revendedor p{
		font-size: 18px;
		line-height: 32px;

	}

	#seja-revendedor img#um{
		margin: 45px 0 0 0;
		max-width: 100%;
	}

	#seja-revendedor img#dois{
		margin: 0 0 45px 0;
		max-width: 100%;
	}

	#seja-revendedor ul{
		padding: 20px 0;
	}

	#seja-revendedor ul li{
		background: url(../img/marcador.png);
		background-position: left 23px;
		background-repeat: no-repeat;
		font-size: 18px;
		line-height: 50px;

		margin: 0;
		text-align: left;
		padding-left: 15px;
	}
	/************************* Seja revendedor *****************************/


	/************************* Sistemas *****************************/
	#sistemas{
		padding: 50px 0 50px 0;
	}

	#sistemas h1{
		font-size: 32px;
		margin-bottom: 35px;
	}

	#sistemas p{
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 65px;
		
	}

	#sistemas .itens-sistemas{
		margin: 0 0 0 0;
	}

	#sistemas .itens-sistemas h2{
		font-size: 32px;
		margin-bottom: 65px;
	}

	#sistemas .itens-sistemas .item-sistemas{
		background: url(../img/clientes-parceiros.png);
		background-position: center;
		background-repeat: no-repeat;
		float: none;

		margin: 0 auto 0 auto;
		height: 109px;
		width: 109px;
	}


	#sistemas .itens-sistemas2{
		margin: 0 -10px 0 -10px;
	}

	#sistemas .itens-sistemas2 .item-sistemas2{
		float: left;

		margin: 0 auto 0 auto;
		width: 109px;
	}

	#sistemas .itens-sistemas2 .item-sistemas2 .item-sistemas{
		background: url(../img/clientes-parceiros.png);
		background-position: center;
		background-repeat: no-repeat;

		margin: 0 auto 30px auto;
		height: 109px;
		width: 109px;
	}


	#sistemas #btn-sistemas{
		font-size: 19px;
		line-height: 55px;/* identical to box height, or 137% */
		margin: 60px 0 0 0;
		height: 55px;
		width: 100%;
	}

	#txt-sistemas{
		font-size: 18px;
		line-height: 32px;

		padding: 50px 0 70px 0;
	}
	/************************* Sistemas *****************************/

	/************************* Seja revendedor *****************************/
	#detalhes{
		padding: 40px 0 45px 0;
	}

	#detalhes span{
		font-size: 20px;

		margin-bottom: 35px;
	}

	#detalhes h1{
		font-size: 32px;

		margin-bottom: 40px;
	}

	#detalhes p{
		font-size: 18px;
		line-height: 32px;

	}
	/************************* Seja revendedor *****************************/


}