@charset "UTF-8";

/* CSS - Spiller | Codificado por: Ueek Agência Digital | Ano: 2018 */

select,
option,
textarea,
input[type="submit"],
input[type="text"],
input[type="text"]::placeholder{
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Felixti';
    src: url('fonts/Felixti.eot');
    src: url('fonts/Felixti.eot?#iefix') format('embedded-opentype'),
        url('fonts/Felixti.woff') format('woff'),
        url('fonts/Felixti.ttf') format('truetype'),
        url('fonts/Felixti.svg#Felixti') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Felixti';
*/



/* Paginação */
nav#paginacao {
	float: left;
	margin-top: 50px;
}

nav#paginacao .primeira,
nav#paginacao .ultima,
nav#paginacao .pag {
	float: left;
	width: 34px;
	height: 35px;
	line-height: 34px;
	font-size: 13px;
	text-align: center;
	color: #444;
	overflow: hidden;
}

nav#paginacao .primeira,
nav#paginacao .ultima {
	line-height: 31px;
	font-size: 24px;
}

nav#paginacao a:hover .primeira,
nav#paginacao a:hover .ultima,
nav#paginacao a:hover .pag {
	background: #FF7200;
	color: #fff;
}

nav#paginacao .pag {
	line-height: 34px;
	margin: 0 2px;
}

nav#paginacao .atual {
	font-weight: bold;
	background: #FF7200;
	color: #fff;
}

nav#paginacao .disable {
	color: #999;
}




.display-desktop{
	display: block !important;
}
.display-mobile{
	display: none !important;
}


/************************* Home *****************************/
.banner{
	background: linear-gradient(90deg, rgba(255, 113, 0, 0.3) 24.37%, rgba(255, 255, 255, 0.2) 76.25%), url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;

	height: 845px;
	width: 100%;
	/*padding: 420px 0 0 0;*/
	padding: 300px 0 0 0;
}

.margin-banner{
	margin-top: -13px;
}

.regular1{
	margin-bottom: 0 !important;
}

.regular1 .slick-dots{
	bottom: 20px;
}

.banner h1{
	display: table;
	color: #FFFFFF;

	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 56px;
	text-align: center;

	margin: 0 auto 21px auto;
	max-width: 618px;
}

.banner span{
	display: block;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;

	margin: 0 0 31px 0;
	text-align: center;
}

.banner .btn-banner{
	background: #FF7200;
	border-radius: 10px;
	border: 1px solid #FF7200;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;
	text-align: center;

	margin: 0 auto;
	height: 45px;
	width: 254px;
}

.banner .btn-banner:hover{
	background: #F9F9F9;
	border: 1px solid #F9F9F9;

	color: #FF7200;
}

.sep-banner{
	background: #FF7200;
	height: 60px;
}


#jeito-simples{
	padding: 85px 0 132px 0;
	text-align: center;
}

#jeito-simples h1{
	color: #535353;

	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 20px;
}

#jeito-simples p{
	color: #535353;

	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	margin-bottom: 20px;
	text-align: center;
}

#jeito-simples #itens-jeito{
	display: table;
	margin: 0 auto;
}

#jeito-simples #itens-jeito .item-jeito{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.05);
	float: left;

	


	margin: 0 30px;
	padding: 74px 0 0 0;
	height: 257px;
	width: 250px;
}

#jeito-simples #itens-jeito .item-jeito:hover{
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);
}


#jeito-simples #itens-jeito .item-jeito:hover h2{
	color: #626262;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	text-align: center;

}

#jeito-simples #itens-jeito .item-jeito img{
	margin-bottom: 25px;
}

#jeito-simples #itens-jeito .item-jeito h2{
	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
}
/************************* Home *****************************/

/************************* Formulários *****************************/
.formularios{
	background: #F9F9F9;

	padding: 40px 0 90px 0;
}

.formularios h1{
	color: #999999;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	text-align: center;
	letter-spacing: 12px;

	margin-bottom: 50px;
}

.formularios h2{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 15px;
	text-align: center;
}

.formularios p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	margin: 0 auto 50px auto;
	max-width: 651px;
	text-align: center;
}

.formularios .formulario{
	margin: 0 auto;
	width: 761px;
}

.formularios .formulario .col-1{
	float: left;
	width: 356px;
}

.formularios .formulario .col-2{
	float: right;
	width: 356px;
}

.formularios .formulario label{
	color: #979797;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 10px;
}

.formularios .formulario input[type="text"]{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);

	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;

	margin-bottom: 25px;
	padding-left: 15px;
	height: 40px;
	width: 100%;
}

.formularios .formulario input[type="text"]:focus{
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.2);
}

.formularios .formulario input[type="text"]::placeholder{
	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
}


.formularios .formulario select{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);

	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;

	margin-bottom: 25px;
	padding-left: 15px;
	height: 40px;
	width: 100%;
}


.formularios .formulario textarea{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);

	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;

	margin-bottom: 25px;
	padding-top: 15px;
	padding-left: 15px;
	resize: none;
	height: 150px;
	width: 100%;
}

.formularios .formulario textarea:focus{
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.2);
}

.formularios .formulario textarea::placeholder{
	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
}


.form-radio{
	margin-bottom: 25px;
}

.form-radio .radio label{
	cursor: pointer;
}


.formularios .formulario input[type="submit"]{
	background: #FF7200;
	border-radius: 10px;
	border: 1px solid #FF7200;

	color: #F9F9F9;
	cursor: pointer;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	text-align: center;

	margin: 52px auto 0 auto;
	height: 45px;
	width: 510px;
}

.formularios .formulario input[type="submit"]:hover{
	background: #E46600;
	border: 1px solid #E46600;
}

.formularios span{
	color: #979797;

	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	text-align: center;


	margin: 45px auto 0 auto;
	max-width: 565px;
}

.formularios .btn-formularios{
	display: none;
}


.formulario-sucesso{
	display: none;
	padding: 43px 0 38px 0;
	text-align: center;
}

.formulario-sucesso h3{
	color: #51C6AD;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
}

.formulario-sucesso h3 img{
	margin-right: 11px;
}

.formulario-sucesso div{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
}


.formulario-erro{
	display: none;
	padding: 43px 0 38px 0;
	text-align: center;
}

.formulario-erro h3{
	color: #DC4057;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
}

.formulario-erro h3 img{
	margin-right: 11px;
}

.formulario-erro div{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
}
/************************* Formulários *****************************/



#usamos-tecnologia{
	background: #F9F9F9;
	padding: 95px 0 95px 0;
}

#usamos-tecnologia h1{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 56px;
	text-align: center;

	margin: 0 auto 20px auto;
	max-width: 780px;
}

#usamos-tecnologia #btn-usamos{
	background: #FF7200;
	border-radius: 10px;
	border: 1px solid #FF7200;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;
	text-align: center;


	margin: 0 auto;
	height: 45px;
	width: 282px;
}

#usamos-tecnologia #btn-usamos:hover{
	background: transparent;
	
	color: #FF7200;
}


#para-voce{
	background: #FF7200;
	padding: 50px 0 78px 0;
	text-align: center;
}

#para-voce h1{
	color: #8c3d00;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	letter-spacing: 12px;
	margin-bottom: 35px;
}

#para-voce h2{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: normal;
	margin-bottom: 10px;
}

#para-voce p{
	color: #000000;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 70px;
}

#para-voce #itens-paravoce{
	margin: 0 -27.5px;
}

#para-voce #itens-paravoce .item-paravoce{
	float: left;
	margin: 0 27.5px;
	width: 155px;
}

#para-voce #itens-paravoce .item-paravoce img{
	margin-bottom: 25px;
}

#para-voce #itens-paravoce .item-paravoce h3{
	color: #EEEEEE;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
}

#para-voce #itens-loja{
	display: table;
	margin: 90px auto 0 auto;
}

#para-voce #itens-loja img{
	float: left;
	margin: 0 25px;
}


.clientes-parceiros{
	padding: 85px 0 105px 0;
	text-align: center;
}

.clientes-parceiros h1{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: normal;
	margin-bottom: 25px;
}

.clientes-parceiros p{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
}

.clientes-parceiros span{
	color: #000000;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
}

.clientes-parceiros .itens-clientesparceiros{
	margin: 65px -48px 0 -48px;
}

.clientes-parceiros .itens-clientesparceiros .item-clientesparceiros{
	background: url(../img/clientes-parceiros.png);
	background-position: center;
	background-repeat: no-repeat;
	float: left;

	margin: 0 54px 0 54px;
	height: 109px;
	width: 109px;
}
/************************* Home *****************************/


/************************* Sobre nós *****************************/
.banner-internas{
	background: linear-gradient(90deg, rgba(255, 113, 0, 0.3) 24.37%, rgba(255, 255, 255, 0.2) 76.25%), url(../img/banner-internas.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 260px;
}


#troco-simples{
	padding: 60px 0 140px 0;
}

#troco-simples h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: normal;

	margin-bottom: 45px;
}

#troco-simples #itens-trocosimples{
	
}

#troco-simples #itens-trocosimples .item-trocosimples{
	border-bottom: 1px solid #D8D8D8;
	cursor: pointer;
	margin-bottom: 10px;
}

#troco-simples #itens-trocosimples .item-trocosimples h2{
	color: #626262;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;

	width: 100%;
}

#troco-simples #itens-trocosimples .item-trocosimples h2 span{
	float: right;
}

#troco-simples #itens-trocosimples .item-trocosimples .txt-trocosimples{
	color: #535353;
	display: none;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	margin: 35px 0 60px 0;
}

#troco-simples #itens-trocosimples .item-trocosimples .txt-trocosimples a{
	color: #535353;
	font-weight: bold;
	text-decoration-line: underline;
}


#veja-como{
	background: #F9F9F9;
	padding: 60px 0 60px;
	text-align: center;
}

#veja-como h1{
	color: #535353;

	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 56px;

	margin: 0 auto 45px auto;
	width: 842px;
}

#veja-como #itens-vejacomo{
	display: table;
	margin: 0 auto;
}

#veja-como #itens-vejacomo .item-vejacomo{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.05);

	float: left;
	margin: 0 30px;
	padding: 74px 30px 0 30px;
	height: 257px;
	width: 250px;
}

#veja-como #itens-vejacomo .item-vejacomo:hover{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);
}

#veja-como #itens-vejacomo .item-vejacomo:hover h2{
	color: #626262;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	text-align: center;

}

#veja-como #itens-vejacomo .item-vejacomo img{
	margin-bottom: 20px;
}

#veja-como #itens-vejacomo .item-vejacomo h2{
	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
}
/************************* Sobre nós *****************************/


/************************* Imprensa *****************************/
.campanhas h1,
.campanhas p.desc-publicacoes{
	text-align: center;
}

.campanhas .itens-campanhas{
	display: table;
	margin: 65px auto 60px auto;
}

.campanhas .itens-campanhas img{
	float: left;
	margin: 0 25px;
}

.publicacoes .btn-maisbeneficios{
	background: #FF7200;
	border: 1px solid #FF7200;
	border-radius: 10px;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;/* identical to box height, or 137% */
	text-align: center;


	margin: 55px auto 0 auto;
	height: 45px;
	width: 290px;
}

.publicacoes .btn-maisbeneficios:hover{
	background: transparent;
	color: #FF7200;
}


.publicacoes{
	padding: 50px 0 110px 0;
}

.publicacoes h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
}

.publicacoes p.desc-publicacoes{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 55px;
}

.publicacoes p.info-publicacoes{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
}

.publicacoes .categorias-publicacoes{
	margin-bottom: 30px;
}

.publicacoes .categorias-publicacoes h3{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 36px;
	margin-bottom: 20px;
}

.publicacoes .categorias-publicacoes .categoria-publicacoes{
	border: 2px solid #FF7100;
	box-sizing: border-box;
	border-radius: 10px;

	color: #FF7100;
	display: inline-block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 43px;

	margin-right: 20px;
	margin-bottom: 20px;
	height: 45px;
	padding: 0 15px;
	text-align: center;
}

.publicacoes .categorias-publicacoes .categoria-publicacoes:hover{
	background: #FF7100;

	color: #fff;
}


.publicacoes .itens-publicacoes{
	margin: 0 -14px 0 -14px;
}

.publicacoes .itens-publicacoes .item-publicacoes{
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
	float: left;



	margin: 0 14px 30px 14px;
	height: 360px;
	width: 482.06px;
}

.publicacoes .itens-publicacoes .item-publicacoes .img-publicacoes{
	background: url(../img/imprensa.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}

.publicacoes .itens-publicacoes .item-publicacoes h2{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 17px;
	line-height: 36px;

	margin: 15px 18px 0px 18px;
}

.publicacoes .itens-publicacoes .item-publicacoes p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	margin: 0 18px 10px 18px;
}

.publicacoes .itens-publicacoes .item-publicacoes span{
	color: #FF7200;
	display: block;
	float: right;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 36px;
	margin: 0 18px 0 0;
}

.publicacoes .itens-publicacoes .item-publicacoes span:hover{
	text-decoration: underline;
}


.newsletter{
	background: #F9F9F9;
	padding: 68px 0 60px 0;
}

.newsletter h1{

	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 56px;
	text-align: center;

	margin-bottom: 5px;
}

.newsletter p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 40px;
	text-align: center;
}

.newsletter form{
	
}

.newsletter form .center-newsletter{
	display: table;
	margin: 0 auto;
}

.newsletter form .center-newsletter .campo-newsletter{
	float: left;
	margin: 0 25px 0 25px;
	width: 356px;
}

.newsletter form .center-newsletter .campo-newsletter label{
	color: #979797;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 10px;
}

.newsletter form .center-newsletter .campo-newsletter input[type="text"]{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);

	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;

	padding-left: 15px;
	height: 40px;
	width: 100%;
}

.newsletter form .center-newsletter .campo-newsletter input[type="text"]:focus{
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.2);
}

.newsletter form input[type="submit"]{
	background: #FF7200;
	border-radius: 10px;
	border: 1px solid #FF7200;

	color: #F9F9F9;
	cursor: pointer;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	text-align: center;

	margin: 60px auto 35px auto;
	height: 45px;
	width: 510px;
}

.newsletter form input[type="submit"]:hover{
	background: #F9F9F9;
	border: 1px solid #FF7200;

	color: #FF7200;
}

.newsletter span{
	color: #979797;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}
/************************* Imprensa *****************************/

/************************* Para você *****************************/
#pg-para-voce{
	padding: 60px 0 100px 0;
}

#pg-para-voce h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: normal;
	margin-bottom: 10px;
	text-align: center;
}

#pg-para-voce h2{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: normal;
	margin-bottom: 80px;
	text-align: center;
}

#pg-para-voce #box-paravoce{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);

	margin: 0 auto;
	padding: 64px 85px 50px 85px;
	width: 884px;
	text-align: center;
}

#pg-para-voce #box-paravoce .item-paravoce{
	width: 120px;
}

#pg-para-voce #box-paravoce #left{
	float: left;
}

#pg-para-voce #box-paravoce #right{
	float: right;
}

#pg-para-voce #box-paravoce #center{
	display: inline-block;
	margin: 0 auto;
}

#pg-para-voce #box-paravoce .item-paravoce img{
	margin-bottom: 20px;
}

#pg-para-voce #box-paravoce .item-paravoce h3{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
}

#pg-para-voce #box-paravoce span{
	color: #535353;

	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 56px;
	margin-top: 70px;
	text-align: center;
}

#pg-para-voce p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	text-align: center;

	margin: 75px auto 0 auto;
	max-width: 703px;
}


#como-funciona{
	background: #F9F9F9;
	padding: 0 0 0 0;
}

#como-funciona #left-comofunciona{
	background: url(../img/bg-comofunciona.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: 702px;
	width: 50%;
}

#como-funciona #right-comofunciona{
	float: right;
	width: 50%;
}

#como-funciona #conteudo-comofunciona{
	box-sizing: border-box;
	float: left;
	padding: 45px 0 0 75px ;
	width: 497.5px;
}

#como-funciona h1{
	color: #D8D8D8;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: normal;
	letter-spacing: 12px;

	margin-bottom: 10px;
}

#como-funciona h2{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: normal;

	margin-bottom: 10px;
}

#como-funciona h3{
	color: #535353;	
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: normal;

}

#como-funciona ul{
	border-top: 2px dashed #D8D8D8;
	border-bottom: 2px dashed #D8D8D8;

	/*list-style-image: url('../img/marcador.png');*/

	margin: 40px 0 40px 0;
	padding: 20px 0;
}

#como-funciona ul li{
	background: url(../img/marcador.png);
	background-position: left 23px;
	background-repeat: no-repeat;
	color: #535353;
	display: inline-block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 52px;
	list-style: none;
	padding-left: 13px;
}

#como-funciona p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
}

#varias-formas{
	background: url(../img/bg-varias-formas.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0 30px 0;
	text-align: center;
}

#varias-formas h1{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 65px;
}

#varias-formas #itens-variasformas{
	text-align: center;
}

#varias-formas #itens-variasformas .item-variasformas{
	display: inline-block;
	margin-bottom: 55px;
	width: 265px;
}

#varias-formas #itens-variasformas .item-variasformas img{
	margin-bottom: 20px;
}

#varias-formas #itens-variasformas .item-variasformas h2{
	color: #EEEEEE;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
}

#varias-formas #itens-variasformas .left{
	float: left;
}

#varias-formas #itens-variasformas .right{
	float: right;
}

#varias-formas #itens-variasformas .center{
	display: inline-block;
	margin: 0 auto;
}


.baixe-agora{
	background: #FF7200;
	padding: 50px 0 55px 0;
}

.baixe-agora h1{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 56px;
	margin-bottom: 50px;
	text-align: center;
}

.baixe-agora .itens-baixeagora{
	display: table;
	margin: 0 auto;
}

.baixe-agora .itens-baixeagora img{
	float: left;
	margin: 0 25px;
}


#vantagens-receber{
	padding: 60px 0 98px 0;
	text-align: center;
}

#vantagens-receber h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 40px;
}

#vantagens-receber p#txt-vantagens{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	margin-bottom: 120px;
}

#vantagens-receber #itens-vantagens{
	
}

#vantagens-receber #itens-vantagens #left{
	float: left;
}

#vantagens-receber #itens-vantagens #right{
	float: right;
}

#vantagens-receber #itens-vantagens #center{
	display: inline-block;
	margin: 0 auto;
	width: 370px;
}

#vantagens-receber #itens-vantagens #center #vantagem-mobile{
	display: none;
}

#vantagens-receber #itens-vantagens #center h2{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
}

#vantagens-receber #itens-vantagens #center h3{
	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	margin-bottom: 50px;
}

#vantagens-receber #itens-vantagens #center p#desc-vantagens{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
}

#vantagens-receber #itens-vantagens #center p#desc-vantagens br{
	clear: none;
}

#vantagens-receber #flexa-vantagens{
	margin-top: 35px;
}


#vantagens-receber .btn-estabelecimentos-participantes{
	background: #FF7200;
	border: 1px solid #FF7200;
	border-radius: 10px;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;/* identical to box height, or 137% */
	text-align: center;


	margin: 75px auto 0 auto;
	height: 45px;
	width: 330px;
}

#vantagens-receber .btn-estabelecimentos-participantes:hover{
	background: transparent;
	color: #FF7200;
}


#motivos-receber{
	background: #F9F9F9;
}


#motivos-receber #motivos-receber-left{
	background: url(../img/bg-motivos-receber.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: 575px;
	width: 50%;
}

#motivos-receber #motivos-receber-right{
	float: right;
	width: 50%;
}

#motivos-receber #motivos-receber-right #motivos-receber-info{
	box-sizing: border-box;
	float: left;

	padding: 50px 0 0 89px;
	width: 497px;
}


#motivos-receber h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 30px;
}

#motivos-receber p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	margin-bottom: 50px;
}

#motivos-receber #itens-motivosreceber{
	/*display: table;
	margin: 0 auto;*/
}

#motivos-receber #itens-motivosreceber img{
	float: left;
	margin: 0 20px 0 0;
}


#quer-outro{
	background: #FF7200;
	padding: 70px 0 80px 0;
	text-align: center;
}

#quer-outro h1{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 60px;
}

#quer-outro img{
	
	margin-bottom: 40px;
}

#quer-outro p{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
}

#quer-outro p span{
	font-weight: bold;
	text-decoration-line: underline;
}


#ainda-duvida{
	background: #F9F9F9;
	padding: 45px 0 60px 0;
}


#left-aindaduvida{
	margin-top: 105px;
}

#right-aindaduvida{
	float: right;
	width: 600px;
}

#ainda-duvida h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 10px;
}

#ainda-duvida span{
	color: #535353;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;

	margin-bottom: 30px;
}

#ainda-duvida p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	
	margin-bottom: 30px;
}

#ainda-duvida #right-aindaduvida #itens-aindaduvida{
	display: table;
	margin: 0;
}

#ainda-duvida #right-aindaduvida #itens-aindaduvida img{
	float: left;
	margin: 0 50px 0 0;
}
/************************* Para você *****************************/

/************************* Para empresas *****************************/
#para-empresas{
	padding: 60px 0 65px 0;
}


#right-parempresas{
	float: right;
}

#left-paraempresas{
	float: left;
	width: 464px;
}


#para-empresas h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 15px;
}

#para-empresas h2{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;

	margin-bottom: 50px;
}

#para-empresas p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

}


#simplifique-vantagens{
	background: url(../img/bg-varias-formas.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0 60px 0;
}

#simplifique-vantagens #col-1{
	
}

#simplifique-vantagens #col-1 h1{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 46px;

	margin-bottom: 40px;
	text-align: center;
}

#simplifique-vantagens #col-1 p{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;

	text-align: center;
	margin: 0 auto;
	width: 707px;
}

#simplifique-vantagens #col-2{
	margin-top: 80px;
}


#simplifique-vantagens #col-2 h1{
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;

	margin-bottom: 40px;
	text-align: center;
}

#simplifique-vantagens #col-2 ul{
	
}


#simplifique-vantagens #col-2 .item-simplifique{
	float: left;
    margin: 0 10px;
    width: 46%;
}

#simplifique-vantagens #col-2 ul li{
	box-sizing: border-box;
	color: #FFFFFF;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	margin: 0 0 40px 0;

	list-style: none;
	line-height: 42px;
	padding-left: 50px;
}


#quero-fazer{
	padding: 60px 0 70px 0;
	text-align: center;
}

#quero-fazer h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 10px;
}

#quero-fazer h2{
	color: #DADADA;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 70px;
}

#quero-fazer p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	margin-bottom: 60px;
}

#quero-fazer .itens-querofazer{
	display: table;
	margin: 0 auto;
}

#quero-fazer #primeiros-itens{
	margin: 0 -68px 0 -68px;
}

#quero-fazer .itens-querofazer .item-querofazer{
	float: left;

	margin: 0 53.5px 0 53.5px;
	width: 270px;
}

#quero-fazer .itens-querofazer .item-querofazer img{
	
}

#quero-fazer .itens-querofazer .item-querofazer h3{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
}

#quero-fazer .itens-querofazer .item-querofazer span{
	color: #535353;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
}

#quero-fazer #btn-querofazer{
	background: #FF7200;
	border-radius: 10px;
	border: 1px solid #FF7200;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;

	margin: 60px auto 0 auto;
	height: 45px;
	width: 510px;
}

#quero-fazer #btn-querofazer:hover{
	background: transparent;
	
	color: #FF7200;
}


#ainda-esta{
	background: #F9F9F9;
}


#ainda-esta #ainda-esta-left{
	background: url(../img/bg-ainda-esta.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;

	height: 494px;
	width: 50%;
}

#ainda-esta #ainda-esta-right{
	float: right;
	width: 50%;
}

#ainda-esta #ainda-esta-right #ainda-esta-info{
	box-sizing: border-box;

	float: left;

	padding: 60px 0 0 70px;
	width: 497px;
}


#ainda-esta h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 45px;
	margin: 0 0 40px 0;
}

#ainda-esta p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	margin: 0 0 50px 0;
}

#ainda-esta #btn-aindaesta{
	background: #FF7200;
	border: 1px solid #FF7200;
	border-radius: 10px;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;

	text-align: center;
	height: 45px;
	width: 345px;
}

#ainda-esta #btn-aindaesta:hover{
	background: transparent;
	color: #FF7200;
}


#vantagens-troco{
	background: #F2F2F2;
	padding: 80px 0 90px 0;
	text-align: center;
}

#vantagens-troco h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 40px;
}

#vantagens-troco ul{
	
}

#vantagens-troco ul li{
	background: url(../img/marcador.png);
	background-position: left;
	background-repeat: no-repeat;
	color: #535353;
	display: inline-block;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 7px;
	padding-left: 15px;
}

#vantagens-troco #btn-vantagenstroco{
	background: #FF7200;
	border: 1px solid #FF7200;
	border-radius: 10px;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;

	margin: 40px auto 0 auto;
	height: 45px;
	width: 254px;
}

#vantagens-troco #btn-vantagenstroco:hover{
	background: transparent;
	color: #FF7200;
}


#para-empresas-saiba-mais{
	padding: 60px 0 60px 0;
}

#para-empresas-saiba-mais h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 15px;
}

#para-empresas-saiba-mais h2{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;

	margin-bottom: 30px;
}

#para-empresas-saiba-mais p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;


	margin-bottom: 40px;
}

#para-empresas-saiba-mais p a{
	color: #FF7100;
	font-weight: bold;
	text-decoration-line: underline;
}
/************************* Para empresas *****************************/

/************************* Post *****************************/
.publicacao{
	padding: 40px 0 100px 0;
}

.publicacao span{
	color: #535353;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
}

.publicacao span img{
	margin-right: 10px;
}

.publicacao .post{
	margin: 60px 0 60px 0;
}

.publicacao .post h1{
	color: #FF7200;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	margin-bottom: 15px;
}

.publicacao .post img{
	float: right;
	margin: -35px 0 20px 40px;
	max-width: 482px;
}

.publicacao .post p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
}

.publicacao .post p a{
	color: #FF7200;
}

.publicacao .post p a:hover{
	color: #FF7200;
	text-decoration-line: underline;
}

.publicacao .post br{
	clear: none;
}

.publicacao .imagens-post{
	margin: 0 -30px 0 -30px;
}

.publicacao .imagens-post .img-post{
	background: url(../img/post.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	float: left;

	margin: 0 30px 0 30px;

	height: 157px;
	width: 203px;
}
/************************* Post *****************************/

/************************* Fale Conosco *****************************/
#fale-conosco{
	background: #F9F9F9;
	padding: 60px 0 70px 0;
}


#fale-conosco .fale-computador{
	display: block;
}

#fale-conosco .fale-celular{
	display: none;
}



#fale-conosco #left{
	float: left;
	width: 350px;
}

#fale-conosco #right{
	float: right;
	width: 488px;
}

#fale-conosco #left h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 10px;
}

#fale-conosco #left p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	margin-bottom: 160px;
}

#fale-conosco #left h2{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;

	margin-bottom: 20px;
}

#fale-conosco #left span{
	color: #FF7100;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;

	margin-bottom: 25px;
}

#fale-conosco #left img{
	margin-top: 40px;
}


#fale-conosco #right form{
	
}

#fale-conosco #right label{
	color: #979797;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 10px;
}

#fale-conosco #right input[type="text"]{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);

	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;

	margin-bottom: 25px;
	padding-left: 15px;
	height: 40px;
	width: 100%;
}

#fale-conosco #right textarea{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);

	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;

	margin-bottom: 30px;
	padding: 15px 0 0 15px;
	resize: none;
	height: 256px;
	width: 100%;
}

#fale-conosco #right input[type="text"]:focus,
#fale-conosco #right textarea:focus{
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.2);
}

#fale-conosco #right input[type="text"]::placeholder{
	color: #979797;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
}

#fale-conosco #right input[type="submit"]{
	background: #FF7200;
	border-radius: 10px;
	border: 1px solid #FF7200;

	color: #F9F9F9;
	cursor: pointer;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	text-align: center;

	margin: 0 auto 0 auto;
	height: 45px;
	width: 100%;
}

#fale-conosco #right input[type="submit"]:hover{
	background: #E46600;
	border: 1px solid #E46600;
}
/************************* Fale Conosco *****************************/

/************************* Entidade *****************************/
#entidade{
	padding: 50px 0 90px 0;
}

#entidade h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 56px;
	margin-bottom: 50px;
}


#entidade .item-entidade{
	margin-bottom: 80px;
}

#entidade .item-entidade .img-entidade{
	float: left;
}

#entidade .item-entidade .info-entidade{
	float: right;
	width: 521px;
}

#entidade .item-entidade .info-entidade img{
	float: left;
}

#entidade h2{
	color: #535353;
	float: right;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;

	width: 400px;
}

#entidade p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	margin-top: 25px;
}


#entidade #itens-entidade{
	text-align: center;
}

/************************* Entidade *****************************/

/************************* Revendedores *****************************/
#revendedores{
	padding: 60px 0 80px 0;
}

#revendedores h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 30px;
}

#revendedores p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 60px;
}

#revendedores p a{
	color: #FF7100;
	font-weight: bold;
	text-decoration-line: underline;
}


#revendedores form{
	margin: 75px 0 50px 0;
}

#revendedores form h2{
	color: #535353;
	float: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;

	margin-right: 70px;
}

#revendedores form input[type="text"]{
	border: 0;
	border-bottom: 1px solid #000000;
	color: #535353;
	float: left;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;

	margin-right: 25px;
	height: 27px;
	width: 277px;
}

#revendedores form input[type="text"]::placeholder{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
}

#revendedores form label{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	margin-right: 15px;
}

#revendedores form select{
	border: 0;
	border-bottom: 1px solid #000000;

	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;


	height: 27px;
	width: 44px;
}

#revendedores form select option{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
}

#revendedores form input[type="submit"]{
	background: #FF7200;
	border-radius: 10px;
	border: 1px solid #FF7200;

	color: #F9F9F9;
	cursor: pointer;
	float: right;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;

	height: 45px;
	width: 106px;
}

#revendedores form input[type="submit"]:hover{
	background: transparent;

	color: #FF7200;
}


#revendedores #itens-revendedores{
	margin: 0 -9px;
}

#revendedores #itens-revendedores .item-revendedores{
	background: #FFFFFF;
	border: 1px solid #F9F9F9;
	box-sizing: border-box;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.05);
	float: left;


	margin: 0 9px 18px 9px;
	padding: 40px 30px 0 30px;
	height: 257px;
	width: 488px;
}

#revendedores #itens-revendedores .item-revendedores:hover{
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);
}

#revendedores #itens-revendedores .item-revendedores h3{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

#revendedores #itens-revendedores .item-revendedores h4{
	color: #D8D8D8;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	letter-spacing: 4px;
	margin-bottom: 68px;
}

#revendedores #itens-revendedores .item-revendedores span{
	color: #FF7200;
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 35px;
}


#revendedores #itens-revendedores .item-trocosimples{

}

#revendedores #itens-revendedores .item-trocosimples img{
	margin-bottom: 50px;
}
/************************* Revendedores *****************************/

/************************* Seja revendedor *****************************/
#seja-revendedor{
	padding: 60px 0 35px 0;
}

#seja-revendedor span{
	display: block;

	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;

	margin-bottom: 35px;
}

#seja-revendedor span img{
	margin: 0 10px 0 0;
}

#seja-revendedor h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 30px;
}

#seja-revendedor p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

}

#seja-revendedor img#um{
	margin: 70px 0 0 0;
}

#seja-revendedor img#dois{
	margin: 0 0 70px 0;
}

#seja-revendedor ul{
	padding: 25px 0;
}

#seja-revendedor ul li{
	background: url(../img/marcador.png);
	background-position: left;
	background-repeat: no-repeat;
	color: #535353;
	display: table;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 45px;
	margin: 0 auto;
	text-align: center;

	list-style: none;
	padding-left: 20px;
}
/************************* Seja revendedor *****************************/

/************************* Sistemas *****************************/
#sistemas{
	padding: 60px 0 45px 0;
}

#sistemas h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 35px;
}

#sistemas p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	margin-bottom: 65px;
	
}

#sistemas .itens-sistemas{
	margin: 0 -48px 0 -48px;
}

#sistemas h2{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	text-align: center;

	margin-top: 65px;
	margin-bottom: 25px;
}

#sistemas .itens-sistemas .item-sistemas{
	background: url(../img/clientes-parceiros.png);
	background-position: center;
	background-repeat: no-repeat;
	float: left;

	margin: 0 54px 45px 54px;
	height: 109px;
	width: 109px;
}



#sistemas .itens-sistemas2{
	margin: 0 -48px 0 -48px;
}

#sistemas .itens-sistemas2 .item-sistemas2{
	float: left;

	margin: 0 54px -45px 54px;
	width: 109px;
}

#sistemas .itens-sistemas2 .item-sistemas2 .item-sistemas{
	background: url(../img/clientes-parceiros.png);
	background-position: center;
	background-repeat: no-repeat;

	margin: 0 54px 45px 0;
	height: 109px;
	width: 109px;
}



#sistemas #btn-sistemas{
	background: #FF7200;
	border: 1px solid #FF7200;
	border-radius: 10px;

	color: #F9F9F9;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;/* identical to box height, or 137% */
	text-align: center;

	margin: 50px auto 0 auto;
	height: 45px;
	width: 290px;
}

#sistemas #btn-sistemas:hover{
	background: transparent;
	color: #FF7200;
}

#txt-sistemas{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

	padding: 60px 0 80px 0;
}
/************************* Sistemas *****************************/

/************************* Detalhes *****************************/
#detalhes{
	padding: 60px 0 35px 0;
}

#detalhes span{
	display: block;

	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;

	margin-bottom: 35px;
}

#detalhes span img{
	margin: 0 10px 0 0;
}

#detalhes h1{
	color: #FF7100;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;

	margin-bottom: 30px;
}

#detalhes p{
	color: #535353;
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;

}
/************************* Detalhes *****************************/