body {
  overflow-x: hidden;
}


/* Funcionamento do menu */
[role=navigation]{
  display: none; /* O DISPLAY DEVE FICAR NONE NO DESKTOP E TABLER E SÓ ALTERAR PARA BLOCK NO CELULAR */

	/*display: block;  SÓ ESTÁ BLOCK AGORA PRA DEMONSTRAÇÃO */
}

#menuToggle{
  display: block;
  position: absolute;
  top: 30px;
  right: 50px;
  
  z-index: 999;
  
  -webkit-user-select: none;
  user-select: none;
}


.topo-menu{
  background: #FFFFFF;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);

  height: 170px;
  width: 100%;
  position: absolute;
  top: 43px;
  left: 0;
}

.topo-menu img{
  margin-top: 39px;
  margin-left: 45px;
}


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu-cel{
	display: none;

  background: #DA1A15;

  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 250px;
  right: -100px;

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu-cel li{
  color: #FFFFFF;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;


  padding: 0 0 35px 0;
  text-align: left;
}

#menu-cel li a{
  color: #FFFFFF;
}

#menu-cel li:hover{
	font-weight: 700;
}


header#topo #menu-cel li.dropdown .drop{
  background: #1D464E;
}

header#topo #menu-cel li.dropdown .drop .item-drop a{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal !important;
  font-size: 18px;

  color: #936E40 !important;
}

/* Funcionamento do menu */



@media only screen and (max-width: 680px) {

  [role=navigation]{
    display: block;
  }
  
}