@charset "UTF-8";

/* CSS - Troco Simples | Codificado por: Ueek Agência Digital | Ano: 2019 */

/******************* Atribuições Gerais *********************/
* {
	box-sizing: border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased !important;
	-moz-font-smooth:antialiased !important;
	-o-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	font-smoothing:antialiased;
	margin: 0;
	outline: 0;
	padding: 0;
}

*::selection,
*::-moz-selection,
*::-webkit-selection {
	background:#c0d445;
	color:#fff;
}

a {
	cursor:pointer;
	text-decoration:none;
}

br { clear:both; }
img { border:0; }

input,
textarea,
select { outline: none; }

html, body{
    width: 100%;
    height: 100%;
}

body {
	color: #505050;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.conteudo {
	margin: 0 auto;
	padding: 0 10px;
	width: 1170px;
}

.soft-hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
	filter: alpha(opacity = 50);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

strong, b { font-weight: 700; }
/******************* Atribuições Gerais *********************/


/******************* Atribuições Topo *********************/
header#topo {
	background: #ff7200;
	text-align: center;
	padding: 40px 0;
}
/******************* Atribuições Topo *********************/

/******************* Atribuições Conteúdo *********************/
section#cofrinho #txt {
	float: left;
	padding: 80px 0;
	width: 450px;
}

section#cofrinho #txt h2 {
	color: #ff7200;
	font-weight: 700;
	text-transform: uppercase;
}
section#cofrinho #txt span {
	display: block;
	margin: 30px 0;
}

section#cofrinho #txt img.mobile {
	margin-right: 25px;
	width: 180px;
}

section#cofrinho #txt img.mobile:hover { opacity: 0.8; }

section#cofrinho #imagem {
	background: url(../img/foto1.jpg) no-repeat;
	background-size: contain;
	float: right;
	height: 428px;
	width: 600px;
}

section#cofrinho #imagem-mobile {
	background: url(../img/foto1.jpg) no-repeat;
	background-size: contain;
	display: none; 
	float: none;
	height: 200px;
	width: 100%;
}

section#moedas #imagem {
	background: url(../img/foto2.jpg) no-repeat;
	background-size: contain;
	float: left;
	height: 428px;
	width: 520px;
}

section#moedas #txt {
	float: right;
	padding-top: 75px;
	text-align: left;
	width: 630px;
}

section#moedas #txt h2 {
	color: #ff7200;
	font-weight: 700;
	text-transform: uppercase;
}

section#moedas #txt span {
	display: block;
	margin: 30px 0;
}

section#moedas #txt h3 {
	color: #ff7200;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
}

section#beneficios {
	background: #f5f5f5;
	padding: 60px 0;
}

section#beneficios .coluna {
	float: left;
	margin: 0 90px;
	width: 390px;
}

section#beneficios .coluna .item {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	margin: 20px 0;
	padding: 15px 0 15px 100px;
}

section#beneficios .coluna #transferencia { background-image: url(../img/transferencia.png); }
section#beneficios .coluna #pague { background-image: url(../img/pague.png); }
section#beneficios .coluna #rachou { background-image: url(../img/rachou.png); }
section#beneficios .coluna #acumule { background-image: url(../img/acumule.png); }

section#beneficios .coluna #recarregue { 
	background-image: url(../img/recarregue.png);
	background-position: 10px;
}

section#beneficios .coluna #doe { background-image: url(../img/doe.png); }

section#download {
	padding: 50px 0;
	text-align: center;
}

section#download #botoes {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 415px;
}

section#download #botoes img.mobile {
	margin-right: 25px;
	width: 180px;
}

section#download #botoes img.mobile:hover { opacity: 0.8; }
/******************* Atribuições Conteúdo *********************/

/******************* Atribuições Rodapé *********************/
footer#rodape {
	background: #ff7200;
	color: #fff;
	text-align: center;
	padding: 60px 0 70px;
}

footer#rodape img#marca { margin-bottom: 20px; }

footer#rodape ul {
	margin: 0 auto;
	margin-top: 15px;
	width: 326px;
}

footer#rodape ul li {
	font-size: 15px;
	list-style: none;
	margin: 0 20px;
	float: left;
}

footer#rodape ul li a { color: #fff; }
footer#rodape ul li a:hover { color: #505050; }

footer#rodape ul li span,
footer#rodape ul li img.rede {
	display: block;
	float: left;
	height: 20px; 
}

footer#rodape ul li span { 
	line-height: 20px;
	margin-left: 10px;
}
/******************* Atribuições Rodapé *********************/