@charset "UTF-8";

/* CSS - Troco Simples | Codificado por: Ueek Agência Digital | Ano: 2019 | Mqueries */

/*Tablets*/
@media only screen and (max-width:1024px), only screen and (min-device-width:768px) 
				   and (max-device-width:1024px) and (orientation : landscape) {

	/* ------ Estrutura Geral e Home ------ */
	body { min-width: 660px; }
	.conteudo {width: 640px !important;}

	

	/******************* Atribuições Conteúdo *********************/
	section#cofrinho #txt {
		padding: 30px 0;
		width: 300px;
	}

	section#cofrinho #txt h2 { font-size: 18px; }
	section#cofrinho #txt span { margin: 15px 0; }

	section#cofrinho #txt img.mobile {
		margin-right: 10px;
		width: 120px;
	}

	section#cofrinho #imagem {
		height: 200px;
		width: 300px;
	}

	section#moedas #imagem {
		height: 270px;
		width: 300px;
	}

	section#moedas #txt {
		padding: 20px 0;
		width: 300px;
	}

	section#moedas #txt h2 { font-size: 18px; }
	section#moedas #txt span { margin: 15px 0; }
	section#moedas #txt h3 { font-size: 20px; }
	section#beneficios { padding: 30px 0; }

	section#beneficios .coluna {
		font-size: 13px;
	    margin: 0px 0px;
	    width: 310px;
	}

}

/*Celulares*/
@media only screen and (max-width: 680px) {

	/* ------ Estrutura Geral e Home ------ */
	body { min-width: 300px; }
	.conteudo {
		padding: 0 10px;
		width: 300px !important;
	}

	section#cofrinho #imagem { display: none; }
	section#cofrinho #imagem-mobile { display: block; }

	section#cofrinho #txt,
	section#cofrinho #imagem-mobile,
	section#moedas #txt,
	section#moedas #imagem,
	section#beneficios .coluna {
		float: none;
		width: 100%;
	}

	section#beneficios .coluna .item { padding: 15px 0 15px 70px; }

	section#download #botoes { width: 100%; }

	section#download #botoes img.mobile {
		margin-right: 10px;
		width: 138px;
	}

	section#download #botoes img.mobile:hover { opacity: 0.8; }
	/******************* Atribuições Conteúdo *********************/

	/******************* Atribuições Rodapé *********************/
	footer#rodape { font-size: 15px; }
	/******************* Atribuições Rodapé *********************/


}

/** iPhone 6/7/8 Plus **/
@media only screen and (max-width: 414px) {
}

/** iPhone 6/7/8 **/
@media only screen and (max-width: 375px) {
}

/** Galaxy S5 **/
@media only screen and (max-width: 360px) {
}

/** iPhone 5 e SE **/
@media only screen and (max-width: 320px) {
}

/*Monitores maiores*/
@media only screen and (min-width: 1300px) {
}