@charset "UTF-8";

/* CSS - Troco Simples | Codificado por: Ueek Agência Digital | Ano: 2019 */

/******************* Atribuições Gerais *********************/
* {
	box-sizing: border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased !important;
	-moz-font-smooth:antialiased !important;
	-o-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	font-smoothing:antialiased;
	margin: 0;
	outline: 0;
	padding: 0;
}

*::selection,
*::-moz-selection,
*::-webkit-selection {
	background:#c0d445;
	color:#fff;
}

a {
	cursor:pointer;
	text-decoration:none;
}

br { clear:both; }
img { border:0; }

input,
textarea,
select { outline: none; }

html, body{
    width: 100%;
    height: 100%;
}

body {
	color: #505050;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.conteudo {
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
	width: 1170px;
}

.soft-hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
	filter: alpha(opacity = 50);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

strong, b { font-weight: 700; }
/******************* Atribuições Gerais *********************/


/******************* Atribuições Topo *********************/
header#topo {
	background: #ff7200;
	text-align: center;
	padding: 40px 0;
}
/******************* Atribuições Topo *********************/

/******************* Atribuições Conteúdo *********************/
section#acabe { padding-top: 60px; }

section#acabe #txt {
	float: left;
	width: 462px;
}

section#acabe #txt h1 {
	color: #ff7200;
	font-weight: 700;
	text-transform: uppercase;
}

section#acabe #txt p {
	margin-top: 30px;
}

section#acabe #formulario {
	float: right;
	overflow: hidden;
	width: 610px;
}

section#acabe #formulario header#topo-formulario {
	background: url(../img/bg-form.png) right bottom no-repeat;
	background-size: 100%;
    color: #fff;
    font-size: 24px;
    height: 100px;
    padding: 9px 0 0 23px;
    position: relative;
    width: 100%;
    z-index: 1;
}

section#acabe #formulario iframe {
	margin-top: -25px !important;
}

section#acabe #formulario form {
	background: #eee;
	margin-top: -22px;
	padding: 40px 60px;
}

section#acabe #formulario form input[type="text"] {
	background: #fff;
	border: 0;
	color: #505050;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 15px;
	width: 100%;
}

section#acabe #formulario form input[type="submit"] {
	background: #ff7200;
	border: 0;
	display: block;
	color: #fff;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto;
	line-height: 40px;
	height: 40px;
	width: 150px;
}

section#acabe #formulario form input[type="submit"]:hover { background: #505050; }

section#acabe #formulario span {
	display: block;
	font-size: 15px;
	padding-top: 15px;
	text-align: center;
}

section#como-funciona #imagem {
	background: url(../img/imagem.jpg) no-repeat center;
	background-size: contain;
	float: left;
	height: 400px;
	width: 441px;
}

section#como-funciona #txt {
	float: right;
	text-align: left;
	padding-top: 100px;
	text-align: justify;
	width: 650px;
}

section#como-funciona #txt h1 {
	color: #ff7200;
	font-weight: 700;
	text-transform: uppercase;
}

section#como-funciona #txt p { margin-top: 20px; }

section#beneficios {
	background: #f5f5f5;
	padding: 60px 95px;
}

section#beneficios h1 {
	color: #ff7200;
	font-weight: 700;
	text-transform: uppercase;
}

section#beneficios .coluna {
	float: left;
	margin: 0 100px;
	width: 325px;
}

section#beneficios .coluna .item {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	margin: 20px 0;
	padding: 15px 0 15px 100px;
}

section#beneficios .coluna #elimina { background-image: url(../img/elimina.png); }
section#beneficios .coluna #diminui { background-image: url(../img/diminui.png); }
section#beneficios .coluna #acabe { background-image: url(../img/acaba.png); }
section#beneficios .coluna #reduz { background-image: url(../img/reduz.png); }

section#conhecer {
	padding: 50px 0;
	text-align: center;
}

section#conhecer button {
	background: #ff7200;
	border: 0;
	display: block;
	color: #fff;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto;
	line-height: 40px;
	height: 40px;
	width: 150px;
}

section#conhecer button:hover { background: #505050; }
/******************* Atribuições Conteúdo *********************/

/******************* Atribuições Rodapé *********************/
footer#rodape {
	background: #ff7200;
	color: #fff;
	text-align: center;
	padding: 60px 0 70px;
}

footer#rodape img#marca { margin-bottom: 20px; }

footer#rodape ul {
	margin: 0 auto;
	margin-top: 15px;
	width: 326px;
}

footer#rodape ul li {
	font-size: 15px;
	list-style: none;
	margin: 0 20px;
	float: left;
}

footer#rodape ul li a { color: #fff; }
footer#rodape ul li a:hover { color: #505050; }

footer#rodape ul li span,
footer#rodape ul li img.rede {
	display: block;
	float: left;
	height: 20px; 
}

footer#rodape ul li span { 
	line-height: 20px;
	margin-left: 10px;
}
/******************* Atribuições Rodapé *********************/