@charset "UTF-8";

/* CSS - Troco Simples | Codificado por: Ueek Agência Digital | Ano: 2019 | Mqueries */

/*Tablets*/
@media only screen and (max-width:1024px), only screen and (min-device-width:768px) 
				   and (max-device-width:1024px) and (orientation : landscape) {

	/* ------ Estrutura Geral e Home ------ */
	body { min-width: 660px; }
	.conteudo {width: 640px !important;}

	

	/******************* Atribuições Conteúdo *********************/
	section#acabe { padding-top: 60px; }

	section#acabe #txt {
		float: left;
		width: 300px;
	}

	section#acabe #txt h1 { font-size: 23px; }

	section#acabe #txt p { margin-top: 40px; }

	section#acabe #formulario {
		float: right;
		width: 300px;
	}

	section#acabe #formulario header#topo-formulario {
	    font-size: 13px;
	    height: 75px;
	    padding: 20px 0 0 20px;
	}

	section#acabe #formulario form { padding: 40px 30px; }

	section#como-funciona {
		margin-top: 30px;
		margin-bottom: 25px; 
	}

	section#como-funciona #imagem {
		height: 200px;
		width: 200px;
	}

	section#como-funciona #txt {
		font-size: 16px;
		padding-top: 10px;
		width: 390px;
	}

	section#como-funciona #txt p { margin-top: 10px; }

	section#beneficios { padding: 60px 0; }

	section#beneficios .coluna {
		float: left;
		font-size: 15px;
		margin: 0 10px;
		width: 290px;
	}

}

/*Celulares*/
@media only screen and (max-width: 680px) {

	/* ------ Estrutura Geral e Home ------ */
	body { min-width: 300px; }
	.conteudo {
		padding: 0 10px;
		width: 300px !important;
	}


	/******************* Atribuições Conteúdo *********************/
	section#acabe #txt { font-size: 16px; }
	section#acabe #txt p { margin-top: 20px; }

	section#acabe #txt,
	section#acabe #formulario {
		float: none;
		width: 100%;
	}

	section#acabe #formulario { margin-top: 30px; }

	section#acabe #formulario header#topo-formulario { padding: 20px 0 0 10px; }

	section#como-funciona #imagem,
	section#como-funciona #txt,
	section#beneficios .coluna {
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	section#beneficios .coluna .item { padding-left: 84px; }

	section#conhecer { font-size: 16px; }

	footer#rodape { font-size: 14px; }

}


/** iPhone 6/7/8 Plus **/
@media only screen and (max-width: 414px) {
}

/** iPhone 6/7/8 **/
@media only screen and (max-width: 375px) {
}

/** Galaxy S5 **/
@media only screen and (max-width: 360px) {
}

/** iPhone 5 e SE **/
@media only screen and (max-width: 320px) {
}

/*Monitores maiores*/
@media only screen and (min-width: 1300px) {
}